{% for tr in objects %}
    <tr>
        <td>{{ tr.nombre }}</td>
        <td>{{ tr.apellido }}</td>
        <td>{{ tr.ci }}</td>
        <td>{{ tr.correo }}</td>
        <td>{{ tr.telefono }}</td>
        <td>{{ tr.fnac|date('Y-m-d')}}</td>
        {% if tr.fkpersonalcargo %}
            <td>{{ tr.fkpersonalcargo.nombre }}</td>
        {% else %}
            <td> Sin cargo</td>
        {% endif %}
        <td>{{ tr.fkestadopersonal.nombre }}</td>
        <td align="center">
        {% if 'personal_editar' in permisos %}
            <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% endif %}
        {% if 'personal_eliminar' in permisos %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}