{% for t in objects %}
<tr>
    <td>{{ t.titulo }}</td>
    <td>{{ t.subtitulo }}</td>
    <td>{{ t.tipo }}</td>
    <td>{{ t.fecha | date('d-m-Y') }}</td>
    <td align="center">
    {% if 'noticia_editar' in permisos %}
        <button id="edit" data-json="{{t.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
    {% endif %}
    {% if 'noticia_eliminar' in permisos %}  
        <button id="delete" data-json="{{t.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
    {% endif %}
    </td>
</tr>
{% endfor %}