{% for t in objects %}
<tr>
    <td>{{ t.nombre }}</td>
    <td>{{ t.apellido }}</td>
    <td>{{ t.correo }}</td>
    <td>{{ t.username }}</td>
    <td>{{ t.fkrol.nombre }}</td>
    <td align="center">
    {% if 'usuario_editar' in permisos %} 
        <button id="edit" data-json="{{t.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
    {% endif %}
    {% if 'usuario_editar' in permisos %} 
        <!--button id="upd-pass" data-json="{{t.id}}" type="button" class="btn btn-info waves-effect waves-light upd-pass" title="Editar Password" onclick="Open_Modal();"><i class="material-icons">vpn_key</i></button-->
    {% endif %}
    {% if 'usuario_eliminar' in permisos %}  
        <button id="delete" data-json="{{t.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
    {% endif %}
    </td>
</tr>
{% endfor %}