<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}{{ title_page }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('' ~ logo_page ~ '') }}" type="image/x-icon">
    <link href="{{ asset('resources/css/iconfont/material-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/plugins/node-waves/waves.css') }}" rel="stylesheet" />
    <link href="{{ asset('resources/plugins/fileinput/css/fileinput.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('resources/plugins/animate-css/animate.css') }}" rel="stylesheet" />
    <link href="{{ asset('resources/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/css/themes/all-themes.css') }}" rel="stylesheet" />
    <link href="{{ asset('resources/plugins/nestable/jquery-nestable.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/css/main.css') }}" rel="stylesheet" />
    
    {% block stylesheets %}
    <style>
        .login-page { 
            background-color: #3F51B5 
        }
        .input-group .form-line::after {
            border-bottom: 2px solid #302d66;
        }
        .loader-own{
            padding-left: 44%;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
        .inf-own{
            font-size: 12px;
            padding-bottom: 4%;
        }
        .txt-lower{
            text-transform: lowercase;
        }
        .img-own{
            height: 250px !important;
            width: auto !important;
        }
    </style>
    {% endblock %}
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo" style="margin: 0px">
            <center>
                <img class="img-responsive img-own" src="{{ asset('' ~ logo_login ~ '') }}">
            </center>
        </div>
        <div class="card">
            <div class="body">
                
                <form id="form"  autocomplete="off">
                    
                    <div class="msg">Iniciar sesión</div>
                    
                    <div  class="alert alert-danger text-center" id="lgfail" style="display:none">
                        <span class="glyphicon glyphicon-lock"> </span> <span id="msg"> </span>
                    </div>
                    
                    <div  class="alert alert-warning text-center" id="lgempty" style="display:none">
                        <span class="glyphicon glyphicon-warning-sign"> </span><span id="msgw"> Ingrese todos los datos requeridos.</span>
                    </div>
                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de usuario" autocomplete="username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group" id="bf-btn">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" autocomplete="current-password" required>
                        </div>
                        <span class="input-group-addon" id="see-pass" style="cursor: pointer;" title="Mostrar">
                            <i class="material-icons" style="color: grey" id="ic-pass">visibility_off</i>
                        </span>
                    </div>

                    <div id="lg-loader" class="loader-wrapper" style="display: none">
                        <div class="loader loader-own">
                            <div class="preloader preloader-own">
                                <div class="spinner-layer pl-indigo">
                                    <div class="circle-clipper left"><div class="circle"></div></div>
                                    <div class="circle-clipper right"><div class="circle"></div></div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center inf-own">Verificando...</p>
                    </div>

                     <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4 align-self-center">
                            <button id="iniciar" class="btn bg-indigo btn-block waves-effect" type="button">Ingresar</button>
                        </div>
                        <div class="col-sm-4"></div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="{{ asset('resources/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('resources/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('resources/plugins/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('resources/plugins/node-waves/waves.js') }}"></script>
    <script src="{{ asset('resources/js/admin.js') }}"></script>
    <script src="{{ asset('resources/plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>
    <script src="{{ asset('resources/plugins/fileinput/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('resources/plugins/jquery-validation/jquery.validate.js') }}"></script>
    <script src="{{ asset('resources/plugins/nestable/jquery.nestable.js') }}"></script>
    <script src="{{ asset('resources/js/jquery.toast.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>      
    <script>
        $('#iniciar').click(function () {
            if($('#usuario').val() == '' || $('#password').val() == ''){
                $('#lgempty').fadeIn(800)
                setTimeout(function(){ $('#lgempty').fadeOut(2000) }, 4000)
            }else{
                objeto = JSON.stringify({
                    'user': ($('#usuario').val()).toLowerCase(),
                    'password': $('#password').val()
                })

                $.ajax({
                    method: "POST",
                    url: "/sesion",
                    data: {object : objeto},
                    async: true,
                    beforeSend: function () {
                        $("#lg-loader").fadeIn(800);
                        $("#iniciar").attr('disabled', true);
                    },
                    success: function (data, textStatus) {
                        $("#lg-loader").fadeOut(800);
                        $("#iniciar").attr('disabled', false);
                    }
                }).done(function (response) {
                    var self = JSON.parse(response);
                    if(self.response == "error"){
                        if(self.ldap_msg != '') $('#msg').html(self.ldap_msg)
                        else $('#msg').html(self.info)
                        $('#lgfail').fadeIn(2000)
                        setTimeout(function(){ $('#lgfail').fadeOut(2000) }, 4000)
                    }else{
                        setTimeout(function(){window.location="/"}, 500)
                    }
                });
            }
        })

        $('#see-pass').mousedown(function(){
            $("#ic-pass").css("color", "lightgrey");
            $("#password").prop("type", "text");
            $("#ic-pass").html("visibility");
        });
        
        $("#see-pass").mouseup(function(){
            $("#ic-pass").css("color", "grey");
            $("#password").prop("type", "password");
            $("#ic-pass").html("visibility_off");
        });

        $('#password').keydown(function (e){
            if(e.keyCode == 13){
                $('#iniciar').click();
            }
        })

        $('#usuario').keypress(function(){
            if($('#usuario').val() == ''){
                $('#usuario').removeClass('txt-lower');
            }else{
                if($('#usuario').hasClass('txt-lower')) $('#usuario').addClass('txt-lower');
            }
        });

        $('#usuario').keyup(function(){
            if($('#usuario').val() == ''){
                $('#usuario').removeClass('txt-lower');
            }else{
                if(!$('#usuario').hasClass('txt-lower')) $('#usuario').addClass('txt-lower');
            }
        });
    </script>
</body>
</html>