{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ cursor:pointer }
	    .modal-dialog{
             width: 60% !important;
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .m-tb-own{
            margin-top: 4px;
            margin-bottom: 12px;
        } 
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
        #data_tabletr tbody tr td:nth-child(1), #data_tabletr tbody tr td:nth-child(3){
            white-space: pre-wrap;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('accioneficacia/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>EFICACIA DE ACCIÓN CORRECTIVA</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            {% if 'accioneficacia_insertar' in permisos %}
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}
                            </div>
                        </div>
                        {% if 'home_accioneficacia' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="phone">Acción </th>
                                            <th class="order_by_th" data-name="phone">Eficaz </th>
                                            <th class="order_by_th" data-name="phone">Resultado </th>
                                            <th class="order_by_th" data-name="phone">Fecha </th>
                                            <th class="order_by_th" data-name="phone">Responsable </th>
                                            <th class="order_by_th" data-name="phone">Nombre del Verificador </th>
                                            <th class="order_by_th" data-name="phone">Cargo del Verificador </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('accioneficacia/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>

    <script>
        main_route = '/accioneficacia'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            table.order([3, 'desc'] ).draw();
        });
        attach_validators()

        $('#fkaccion').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar acción.',
            title: 'Seleccione una acción.'
        })

        $('#eficaz').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar opción.',
            title: 'Seleccione una opción.'
        })

        $('#new').click(function () {
            $('#resultado').val('')
            $('#fecha').val('')
            $('#responsable').val('')
            $('#nombreverificador').val('')
            $('#cargoverificador').val('')
            
            $('#eficaz').val('')
            $('#eficaz').selectpicker('render')
            $('#fkaccion').val('')
            $('#fkaccion').selectpicker('render')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'eficaz': $('#eficaz').val(),
                'resultado': $('#resultado').val(),
                'fecha': $('#fecha').val(),
                'responsable': $('#responsable').val(),
                'nombreverificador': $('#nombreverificador').val(),
                'cargoverificador': $('#cargoverificador').val(),

                'accion': $('#fkaccion').val()
            })
            ajax_call_validation("/accioneficacia_insertar", {object: objeto}, null, main_route)
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                ajax_call_get("/accioneficacia_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);
                    $('#id').val(self.id)
                    $('#resultado').val(self.resultado)
                    $('#fecha').val(self.fecha)
                    $('#responsable').val(self.responsable)
                    $('#nombreverificador').val(self.nombreverificador)
                    $('#cargoverificador').val(self.cargoverificador)

                    $('#eficaz').val(self.eficaz)
                    $('#eficaz').selectpicker('render')
                    $('#fkaccion').val(self.fkaccion.id)
                    $('#fkaccion').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'eficaz': $('#eficaz').val(),
                'resultado': $('#resultado').val(),
                'fecha': $('#fecha').val(),
                'responsable': $('#responsable').val(),
                'nombreverificador': $('#nombreverificador').val(),
                'cargoverificador': $('#cargoverificador').val(),

                'accion': $('#fkaccion').val()
            })
            ajax_call_validation("/accioneficacia_actualizar", {object: objeto}, null, main_route)
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja los datos de la eficacia?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/accioneficacia_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 2000);S})
            })
        })
    </script>
{% endblock %}