{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ cursor:pointer }
	    .modal-dialog-sgac{
            width: 85% !important;
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
        .m-tb-own{
            margin-top: 4px;
            margin-bottom: 12px;
        }
        #data_tabletr tbody tr td:nth-child(6){
            white-space: pre-wrap;
        }
        .scroll-own{
            overflow-y: scroll;
        }
        .loader-own{
            margin-top: 5px;
            text-align: center;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('accionseguimiento/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>SEGUIMIENTO DE ACCIÓN</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% if 'accionseguimiento_insertar' in permisos %}
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}
                            <button id="rpg-link" type="button" class="btn bg-teal waves-effect">
                                <i class="material-icons">event</i> Reprograma de Acción
                            </button>
                            </div>
                        </div>
                        {% if 'home_accionseguimiento' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="phone">Hallazgo </th>
                                            <th class="order_by_th" data-name="phone">Acción </th>
                                            <th class="order_by_th" data-name="phone">Ordinal </th>
                                            <th class="order_by_th" data-name="phone">Fecha </th>
                                            <th class="order_by_th" data-name="phone">Responsable </th>
                                            <th class="order_by_th" data-name="phone">Observaciones </th>
                                            <th class="order_by_th" data-name="phone">Estado </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('accionseguimiento/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>

    <script>
        main_route = '/accionseguimiento'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            table.order([ 3, 'desc'] ).draw();
        });

        $('#rpg-link').click(function(){
            window.location = '/accionreprograma';
        });

        attach_validators()

        $('#hallazgo').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar hallazgo.',
            title: 'Seleccione un hallazgo.'
        })

        $('#fkaccion').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar acción.',
            title: 'Seleccione una acción.'
        })

        $('#estadoseguimiento').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar estado.',
            title: 'Seleccione un estado.'
        })

        $('#hallazgo').change(function(){
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).val()))
            })
            ajax_call_get("/accion_obtener",{
                object: obj
            },function(response){
                var self = JSON.parse(response);

                $('#fkaccion').html('');
                var select = document.getElementById("fkaccion")

                for (var i = 0; i < Object.keys(self).length; i++) {
                    var option = document.createElement("OPTION");
                    option.innerHTML = self[i]['descripcion'];
                    option.value = self[i]['id'];
                    option.className = "truncate-own";
                    option.setAttribute("title", self[i]['descripcion']);
                    select.appendChild(option);
                }
                $('#fkaccion').selectpicker('refresh');
            })
        })

        $('#fkaccion').change(function(){
            if($('#hallazgo').val() == ''){
                $('#fkaccion').val('')
                $('#fkaccion').selectpicker('render')

                swal(
                    'Error de datos',
                    'Primero debe seleccionar un hallazgo.',
                    'warning'
                ) 
            }
        })

        $('#new').click(function () {
            $('#ordinal').val('')
            $('#fecha').val('')
            $('#responsable').val('')
            $('#observaciones').val('')

            $('#hallazgo').val('')
            $('#hallazgo').selectpicker('render')
            $('#fkaccion').val('')
            $('#fkaccion').selectpicker('render')
            $('#estadoseguimiento').val('')
            $('#estadoseguimiento').selectpicker('render')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            $('#form').addClass('scroll-own')
            if($('#estadoseguimiento').val() == 'Pendiente'){
                if(!validate_formseg() || validate_comboseg()){
                    swal(
                        'Error de datos',
                        'Por favor ingrese todos los datos requeridos.',
                        'warning'
                    )
                }else{ 
                    $('#fkaccionrpg').val($('#fkaccion').val())
                    $('#fkaccionrpg').selectpicker('render')
                    $('#fkaccionrpg').change()

                    $('#form').modal('hide')
                    $('#form-rpg').modal('show')
                }
            }else{
                objeto = JSON.stringify({
                    'ordinal': $('#ordinal').val(),
                    'fecha': $('#fecha').val(),
                    'responsable': $('#responsable').val(),
                    'observaciones': $('#observaciones').val(),

                    'accion': $('#fkaccion').val(),
                    'estadoseguimiento': $('#estadoseguimiento').val()
                })

                if(!validate_formseg() || validate_comboseg()){
                    swal(
                        'Error de datos',
                        'Por favor ingrese todos los datos requeridos.',
                        'warning'
                    )
                }else{ 
                    ajax_call_validation("/accionseguimiento_insertar", {object: objeto}, null, main_route)
                }
            }
        })

        $('#insert-rpg').click(function () {
            $('#form-rpg').addClass('scroll-own')
            if(!validate_formrpg() || validate_comborpg()){
                swal(
                    'Error de datos',
                    'Por favor ingrese todos los datos requeridos.',
                    'warning'
                )
            }else{ 
                objeto = JSON.stringify({
                    'ordinal': $('#ordinal').val(),
                    'fecha': $('#fecha').val(),
                    'responsable': $('#responsable').val(),
                    'observaciones': $('#observaciones').val(),
                    'accion': $('#fkaccion').val(),
                    'estadoseguimiento': $('#estadoseguimiento').val(),

                    'fechaanterior': $('#fechaanterior').val(),
                    'fechaimplementacion': $('#fechaimplementacion').val(),
                    'motivojustificacion': $('#motivojustificacion').val(),
                    'autoriza': $('#autoriza').val(),
                    'responsableregistro': $('#responsableregistro').val(),
                    'fecharegistro': $('#fecharegistro').val(),
                    'accionrpg': $('#fkaccionrpg').val()
                })
                ajax_call_validation_rpg("/accionseguimiento_insertrpg", {object: objeto}, null, main_route)
            }
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                ajax_call_get("/accionseguimiento_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);

                    $('#hallazgo').val(self.hallazgo)
                    $('#hallazgo').selectpicker('render')
                    $('#hallazgo').change()

                    $('#id').val(self.id)
                    $('#ordinal').val(self.ordinal)
                    $('#fecha').val(self.fecha)
                    $('#responsable').val(self.responsable)
                    $('#observaciones').val(self.observaciones)

                    $('#estadoseguimiento').val(self.estadoseguimiento)
                    $('#estadoseguimiento').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()

                    $('#fkaccion').val(self.fkaccion.id)
                    $('#fkaccion').selectpicker('render')
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'ordinal': $('#ordinal').val(),
                'fecha': $('#fecha').val(),
                'responsable': $('#responsable').val(),
                'observaciones': $('#observaciones').val(),

                'accion': $('#fkaccion').val(),
                'estadoseguimiento': $('#estadoseguimiento').val()
            })
            ajax_call_validation("/accionseguimiento_actualizar", {object: objeto}, null,main_route)
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja el seguimiento de la acción?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/accionseguimiento_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })

        function addDate(){
            id = $('#fkaccion').val()

            obj = JSON.stringify({
                'id': id
            });
            ajax_call_get("/dateformat",{
                object: obj
            },function(response){
                var self = JSON.parse(response);
                $('#fechaanterior').val(self.fechaimplementacion)
            })
        }

        function validate_formseg(){
            var res = true;

            $('.item-seg').each(function(){
                let valif = $(this).val();

                if(valif != 0 && valif != '' && valif != null){}
                else res = false;
            });
            return res;
        }

        function validate_comboseg(){
            return ($('#hallazgo').val() == '' || $('#fkaccion').val() == '' || $('#estadoseguimiento').val() == '');
        }

        function validate_formrpg(){
            var resrp = true;

            $('.item-rpg').each(function(){
                let valirp = $(this).val();

                if(valirp != 0 && valirp != '' && valirp != null){}
                else resrp = false;
            });
            return resrp;
        }

        function validate_comborpg(){
            return ($('#fkaccionrpg').val() == '');
        }

        $('#fkaccionrpg').change(function (){
            id = $(this).val()

            obj = JSON.stringify({
                'id': id
            });
            ajax_call_get("/dateformat",{
                object: obj
            },function(response){
                var self = JSON.parse(response);
                $('#fechaanterior').val(self.fechaimplementacion)
            })
        })
        
    </script>
{% endblock %}