{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ cursor:pointer }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('permiso/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>PERMISO</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            {% if 'permiso_insertar' in permisos %}    
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}   
                            </div>
                        </div>
                        {% if 'home_permiso' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="phone">Usuario </th>
                                            <th class="order_by_th" data-name="phone">Tipo de permiso </th>
                                            <th class="order_by_th" data-name="phone">Unidad </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('permiso/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>

    <script>
        main_route = '/permiso'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $('#fkusuario').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar usuario.',
            title: 'Seleccione un usuario.'
        })

        $('#tipo').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar tipo.',
            title: 'Seleccione un tipo.'
        })

        $('#fkunidad').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar unidad.',
            title: 'Seleccione una unidad.'
        })
        
        $('#new').click(function () {
            $('#fkusuario').val('')
            $('#fkusuario').selectpicker('render')

            $('#tipo').val('')
            $('#tipo').selectpicker('render')

            $('#fkunidad').val('')
            $('#fkunidad').selectpicker('render')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'usuario': $('#fkusuario').val(),
                'tipo': $('#tipo').val(),
                'unidad': $('#fkunidad').val()
            })
            ajax_call_validation("/permiso_insertar", {object: objeto}, null, main_route)
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                })
                ajax_call_get("/permiso_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)                
                    $('#id').val(self.id)

                    $('#fkusuario').val(self.fkusuario.id)
                    $('#fkusuario').selectpicker('render')

                    $('#tipo').val(self.tipo)
                    $('#tipo').selectpicker('render')

                    $('#fkunidad').val(self.fkunidad.id)
                    $('#fkunidad').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'usuario': $('#fkusuario').val(),
                'tipo': $('#tipo').val(),
                'unidad': $('#fkunidad').val()
            })
            ajax_call_validation("/permiso_actualizar", {object: objeto}, null, main_route)
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false
            swal({
                title: "¿Desea dar de baja el permiso?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/permiso_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })
    </script>
{% endblock %}