<div id="form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Rol</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">Rol ID</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="nombre" name="nombre" type="text" class="form-control text">
                            <label class="form-label">Nombre</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="descripcion" name="descripcion" type="text" class="form-control text">
                            <label class="form-label">Descripción</label>
                        </div>
                    </div>

                    <div class="form-group">
                    <label>Permisos</label>
                    <p>Para adicionar, actualizar o dar de baja se necesita obligatoriamente el privilegio consultar.</p>
                    <ul class="tree-container" id="cont-mods" style="">
                        <div class="form-group form-float">
                            <label class="containerdbt">Marcar todos
                                <input id="slt-all" type="radio" onclick="check_all(this)">
                                <span class="checkmarkrdbt"></span>
                            </label>
                            <label class="containerdbt">Desmarcar todos
                                <input id="usl-all" type="radio" onclick="uncheck_all(this)">
                                <span class="checkmarkrdbt"></span>
                            </label>
                        </div>
                        {% for mods in fparents %}
                            {% if mods.fkmodulo == null %}
                                <li id="{{mods.id}}">
                                    <i class="material-icons">{{mods.icono}}</i>
                                    <input id="{{mods.nombre}}" type="checkbox" class="padre chk-col-deep-purple" data-id="{{mods.id}}" data-parent="0" onchange="check_mod(this)">
                                    <label id="tmd" for="{{mods.nombre}}" data-id="{{mods.id}}" >{{mods.titulo}}</label>
                                
                                {% for child in fchildren %}
                                    {% if child.fkmodulo != null and mods.id == child.fkmodulo.id %}
                                    <ul class="tree-menu">
                                        <li id="{{child.id}}">
                                            <i class="material-icons">{{child.icono}}</i>
                                            <input id="{{child.nombre}}" type="checkbox" class="hijo chk-col-deep-purple" data-id="{{child.id}}" data-parent="{{mods.id}}" onchange="check_content(this);">
                                            <label for="{{child.nombre}}" data-id="{{child.id}}" >{{child.titulo}}</label>
                                            
                                        {% for option in foptions %}
                                            <ul class="tree-menu">
                                            {% if  option.fkmodulo != null and child.id == option.fkmodulo.id %}
                                            <li id="{{option.id}}">
                                                <i class="material-icons">{{option.icono}}</i>
                                                <input id="{{option.nombre}}" type="checkbox" class="accion chk-col-deep-purple" data-id="{{option.id}}" data-parent="{{child.id}}" onchange="check_action(this);">
                                                <label for="{{option.nombre}}" data-id="{{option.id}}">{{option.titulo}}</label>
                                            </li>
                                            {% endif %}
                                            </ul>
                                        {% endfor %}
                                        </li>
                                    </ul>
                                    {% endif %}      
                                {% endfor %}
                                </li>
                            {% endif %}      
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                
                <div style="text-align: center; margin:auto;width:100%;height:55px;">
                    <div class="plan-icon-load progress" style='margin:auto;display:none;height:55px;'>
                        <img src='resources/images/carga.gif' style='height:100%;width:auto;'/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="insert" type="button" class="btn bg-indigo waves-effect">Guardar <i class="material-icons">save</i></button>
                    <button id="update" type="button" class="btn bg-indigo waves-effect">Modificar <i class="material-icons">refresh</i></button>
                </div>
            </div>
        </div>
    </div>
</div>