<div id="form-hlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-own" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Hallazgo</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div_hlg" class="form-group">
                        <div class="form-line">
                            <input id="idhlg" type="text" class="form-control" disabled="disabled">
                            <input id="originhlg" type="hidden">
                            <label class="form-label">Hallazgo ID</label>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Auditoría</label>
                                <select id="fkauditoriahlg" class="form-control show-tick">
                                {% for t in auditoria %}
                                    <option value="{{t.id}}">{{t.codigo}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br>
                        </div>
                        <div class="col-sm-6">
                            <label>Tipo de Hallazgo</label>
                                <select id="fktipohlg" class="form-control show-tick">
                                {% for t in tipohlg %}
                                    <option value="{{t.id}}">{{t.nombre}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="ordinalhlg" name="ordinalhlg" type="text" class="form-control text itemhlg">
                                    <label class="form-label">Ordinal</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="titulo" name="titulo" type="text" class="form-control text itemhlg">
                                    <label class="form-label">Título</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descripcionhlg">Descripción</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="descripcionhlg" name="descripcionhlg"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="evidencia">Evidencia</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="evidencia" name="evidencia"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="documento">Documento</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="documento" name="documento"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="puntoiso">Punto ISO</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="puntoiso" name="puntoiso"></textarea>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Nivel de Impacto</label>
                                <select id="fkimpacto" class="form-control show-tick">
                                {% for t in impacto %}
                                    <option value="{{t.id}}">{{t.nombre}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br>
                        </div>
                        <div class="col-sm-6">
                            <label>Probabilidad</label>
                                <select id="fkprobabilidad" class="form-control show-tick">
                                {% for t in probabilidad %}
                                    <option value="{{t.id}}">{{t.nombre}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="analisiscausaraiz">Análisis causa raíz</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="analisiscausaraiz" name="analisiscausaraiz"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recomendaciones">Recomendaciones</label>
                        <textarea class="form-control txta-own itemhlg" rows="3" id="recomendaciones" name="recomendaciones"></textarea>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="cargoauditado" name="cargoauditado" type="text" class="form-control text itemhlg">
                                    <label class="form-label">Cargo del auditado</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="nombreauditado" name="nombreauditado" type="text" class="form-control text itemhlg">
                                    <label class="form-label">Nombre del auditado</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="responsablehlg" name="responsablehlg" type="text" class="form-control text itemhlg">
                                    <label class="form-label">Responsable</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Fecha de registro</label><br>
                                    <input id="fecharegistrohlg" name="fecharegistrohlg" type="date" class="form-control itemhlg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="spn-hlg" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-indigo">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Guardando...</p>
                </div>

                <div class="modal-footer">
                    <button id="insert-hlg" type="button" class="btn bg-indigo waves-effect hover-own">Guardar <i class="material-icons">save</i></button>
                    <button id="update-hlg" type="button" class="btn bg-indigo waves-effect hover-own">Modificar <i class="material-icons">refresh</i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form-list" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-hlg" style="" role="document">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="action_tittle" class="modal-title">Hallazgo</h3>
            </div>
            <div class="modal-body">
                <div class="pd-own">
                    <div id="action_form_body" class="box-body">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">ID Hallazgo</label>
                                            <input id="id-hlg" name="id-hlg" type="text" class="form-control" readonly autofocus>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Tipo</label>
                                            <input id="tipo-hlg" name="tipo-hlg" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-5">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Título</label>
                                            <input id="title-hlg" name="title-hlg" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr  width="100%" style="height: 2px; background-color: #004c99" noshade>

                <div class="pd-own">
                    <h4 id="action_enable" class="">Acciones</h4>
                    <button id="new-acn" type="button" class="btn bg-blue waves-effect hover-own btn-add-own" title="Nuevo" data-origin="hallazgo" data-form="form-acn" data-spn="spn-acn">
                        <i class="material-icons">add</i>
                    </button>

                    <table id="table_acn" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ordinal</th>
                                <th>Descripción</th>
                                <th>Fecha de Implementación</th>
                                <th>Responsable de Implementación</th>
                                <th>Estado</th>
                                <th>Respponsable de registro</th>
                                <th>Fecha de registro</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button id="close-acn" type="button" class="btn bg-teal waves-effect hover-own">Cerrar <i class="material-icons">reply</i></button>
                </div>

            </div>
        </div>
    </div>
</div>