{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 16px !important;
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .modal-dialog-own{
            width: 65%;
        }
        .modal-dialog-acn{
            width: 55%;
        }
        .loader-own{
            margin-top: 5px;
            text-align: center;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
        #data_tabletr tbody tr td:nth-child(6), #data_tabletr tbody tr td:nth-child(7), #data_tabletr tbody tr td:nth-child(8){
            white-space: pre-wrap;
        }
        #data_tabletr tbody tr td:nth-child(10){
            text-align: center;
            vertical-align: center;
        }
        #table-detail tr td:nth-child(1){
            font-weight: bold;
        }
        #table-detail tr td:nth-child(2){
            white-space: pre-wrap;
        }
        #table_acn tbody tr td:nth-child(2){
            white-space: pre-wrap;
        }
        .btn-own{
            margin-right: 2px;
        }
        .btn-add-own{
            margin-bottom: 10px;
        }
        .m-tb-own{
            margin-top: 4px;
            margin-bottom: 12px;
        }
        .scroll-own{
            overflow-y: scroll;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('hallazgo/form.html.twig') }}
    {{ include('accion/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                <div class="header bg-indigo"><h2>HALLAZGO</h2></div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            {% if 'hallazgo_insertar' in permisos %}
                            <button id="new-hlg" type="button" class="btn bg-indigo waves-effect hidden" title="Nuevo" data-origin="hallazgo" data-form="form-hlg" data-spn="spn-hlg">
                                <i class="material-icons">add</i>
                            </button> 
                            {% endif %}
                            <button id="aud-link" type="button" class="btn bg-teal waves-effect">
                                <i class="material-icons">spellcheck</i> Auditoría
                            </button>
                            <button id="acn-link" type="button" class="btn bg-blue waves-effect">
                                <i class="material-icons">exit_to_app</i> Acción
                            </button>
                        </div>
                    </div>
                    
                    <div class="row clearfix text-format">
                        <div class="col-sm-3">
                            <label>Filtrar</label>
                                <select id="auditoriaf" class="form-control show-tick">
                                    <option value="0">Todas</option>
                                    {% for a in auditoria %}
                                        <option value="{{a.id}}">{{a.codigo}}</option>
                                    {% endfor %}
                                </select>
                                </br>
                        </div>
                    </div>

                    <div id="dt-loader" class="loader-wrapper" style="display: none">
                        <div class="loader loader-own">
                            <div class="preloader preloader-own">
                                <div class="spinner-layer pl-blue">
                                    <div class="circle-clipper left"><div class="circle"></div></div>
                                    <div class="circle-clipper right"><div class="circle"></div></div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center inf-own">Cargando datos...</p>
                    </div>

                    {% if 'home_hallazgo' in permisos and objects %}
                        <div class="row">
                            <div class="body table-responsive">
                                <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="d-none" data-name="phone">ID </th>
                                        <th class="order_by_th" data-name="phone">Auditoría </th>
                                        <th class="order_by_th" data-name="phone">Tipo de Hallazgo</th>
                                        <th class="order_by_th" data-name="phone">Ordinal </th>
                                        <th class="order_by_th" data-name="phone">Título </th>
                                        <th class="d-none" data-name="names">Descripción </th>
                                        <th class="order_by_th" data-name="phone">Evidencia </th>
                                        <th class="order_by_th" data-name="phone">Documento </th>
                                        <th class="order_by_th" data-name="phone">Punto ISO </th>
                                        <th class="order_by_th" data-name="phone">Fecha de Registro </th>
                                        <th class="d-none" data-name="phone">Nivel de Impacto </th>
                                        <th class="d-none" data-name="phone">Probabilidad </th>
                                        <th class="d-none" data-name="phone">Análisis Causa Raíz </th>
                                        <th class="d-none" data-name="phone">Recomendaciones </th>
                                        <th class="d-none" data-name="phone">Cargo del Auditado </th>
                                        <th class="d-none" data-name="phone">Nombre del Auditado </th>
                                        <th class="d-none" data-name="phone">Responsable </th>
                                        <th class="actions_header">Acciones </th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_content">
                                    {{ include('hallazgo/table.html.twig') }}
                                    </tbody>
                                </table>
                            </div>
                    {% else %}
                        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                    {% endif %}
                </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>
    <script src="{{ asset('resources/js/hallazgo.js') }}"></script>
    <script src="{{ asset('resources/js/accion.js') }}"></script>

    <script>
        main_route = '/hallazgo'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        function formathlg (d) {
            return '<div class="card" style="width: 95%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Descripción:</td>'+
                    '<td style="white-space: pre-wrap">'+d[6]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Nivel de Impacto:</td>'+
                    '<td>'+d[11]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Probabilidad:</td>'+
                    '<td>'+d[12]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Análisis Causa Raíz:</td>'+
                    '<td style="white-space: pre-wrap">'+d[13]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Recomendaciones:</td>'+
                    '<td style="white-space: pre-wrap">'+d[14]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Cargo del Auditado:</td>'+
                    '<td>'+d[15]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Nombre del Auditado:</td>'+
                    '<td>'+d[16]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Responsable:</td>'+
                    '<td>'+d[17]+'</td>'+
                '</tr>'+
            '</table></div>';
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            table.order([ 10, 'desc'] ).draw();

            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'h'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(formathlg(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });

            $('#table_acn').DataTable({
                responsive: true
            });
        });

        $('#auditoriaf').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar auditoría.',
            title: 'Seleccione una auditoría.'
        })

        $('#aud-link').click(function(){
            window.location = '/auditoria';
        });

        $('#acn-link').click(function(){
            window.location = '/accion';
        });

        $('#auditoriaf').change(function() {
            $("#dt-loader").show();
            $(this).attr('disabled', 'disabled');

            var tabled = $('#data_tabletr').DataTable();
            tabled.destroy();

            obj = JSON.stringify({
                'id': parseInt(JSON.parse($('#auditoriaf').val()))
            })
            
            $.ajax({
                method: 'POST',
                url: '/hallazgo_filteraud',
                data: {object: obj},
                async: true
            }).done(function (response) {
                let self = JSON.parse(response);
                let datos = JSON.parse(self.response);

                var table = $('#data_tabletr').DataTable({
                    data: datos,
                    columns: [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "render": function () {
                                return '<i class="fa fa-plus-square cl-teal" title="Mostrar más" aria-hidden="true"></i>';
                            }
                        },
                        { data: "id", visible: false },
                        { title: "Auditoría" , data: "fkauditoria.codigo" },
                        { title: "Tipo de Hallazgo" , data: "fktipo.nombre" },
                        { title: "Ordinal" , data: "ordinal" },
                        { title: "Título" , data: "titulo" },
                        { data: "descripcion", visible: false },
                        { title: "Evidencia" , data: "evidencia" },
                        { title: "Documento" , data: "documento" },
                        { title: "Punto ISO" , data: "puntoiso" },
                        { title: "Fecha de Registro" , data: "fecharegistro" },
                        { data: "fktipo.nombre", visible: false },
                        { data: "fkprobabilidad.nombre", visible: false },
                        { data: "analisiscausaraiz", visible: false },
                        { data: "recomendaciones", visible: false },
                        { data: "cargoauditado", visible: false },
                        { data: "nombreauditado", visible: false },
                        { data: "responsable", visible: false },
                        { title: "Acciones", data: 'id',
                            render : function (data, type, row){ 
                                a = ''
                                {% if 'accion_insertar' in permisos %}  
                                    a += '<button id="list-acn" data-json="' + row.id + '" onclick="action_list(this)" type="button" class="btn bg-blue waves-effect waves-light list-acn" title="Acción"><i class="material-icons">exit_to_app</i></button>'
                                {% endif %}

                                {% if 'hallazgo_editar' in permisos %}
                                    a += '<button id="edit-hlg" data-json="' + row.id + '" onclick="edit_hallazgo(this)" data-origin="hallazgo" type="button" class="btn bg-indigo waves-effect waves-light edit-hlg" title="Editar"><i class="material-icons">create</i></button>'
                                {% endif %}

                                {% if 'hallazgo_eliminar' in permisos %}
                                    a += '<button id="delete-hlg" data-json="' + row.id + '" onclick="delete_hallazgo(this)" data-origin="hallazgo" type="button" class="btn bg-red waves-effect waves-light delete-hlg" title="Eliminar"><i class="material-icons">clear</i></button>'
                                {% endif %}

                                return a
                            }
                        } 
                    ],
                    "order": [[ 4, 'desc' ]],
                    "pageLength": 10,
                    initComplete: function () {
                        $("#dt-loader").fadeOut('800');
                        $('#auditoriaf').removeAttr('disabled');
                    }
                });

                $ ('#data_tabletr').find('tbody').off('click', 'tr td.details-control'); $('#data_tabletr').find('tbody').on('click', 'tr td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var tdi = tr.find("i.fa");
                    var row = table.row(tr);
    
                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                        tdi.first().removeClass('fa-minus-square');
                        tdi.first().addClass('fa-plus-square');
                        tdi.first().removeClass('cl-red');
                        tdi.first().addClass('cl-teal');
                        tdi.first().attr('title', 'Mostrar más');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                        tdi.first().removeClass('fa-plus-square');
                        tdi.first().addClass('fa-minus-square');
                        tdi.first().removeClass('cl-teal');
                        tdi.first().addClass('cl-red');
                        tdi.first().attr('title', 'Ver menos');
                    }  
                });
            })
        });

        function format(data){
            // `d` is the original data object for the row
            return '<div class="card" style="width: 95%; background-color: rgba(0, 76, 153, .15)">'+
                '<table id="table-detail" class="w-100" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="">Descripción:</td>'+
                    '<td>'+data.descripcion+'</td>'+
                '</tr>'+           
                '<tr>'+
                    '<td class="">Nivel de Impacto:</td>'+
                    '<td>'+data.fkimpacto.nombre+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="">Probabilidad:</td>'+
                    '<td>'+data.fkprobabilidad.nombre+'</td>'+
                '</tr>'+                      
                '<tr>'+
                    '<td class="">Análisis Causa Raíz:</td>'+
                    '<td>'+data.analisiscausaraiz+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="">Recomendaciones:</td>'+
                    '<td>'+data.recomendaciones+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="">Cargo del Auditado:</td>'+
                    '<td>'+data.cargoauditado+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="">Nombre del Auditado:</td>'+
                    '<td>'+data.nombreauditado+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="">Responsable:</td>'+
                    '<td>'+data.responsable+'</td>'+
                '</tr>'+
                '</table></div>';
        }
    </script>

    <script>
        $('#close-acn').click(function () {
            $('#form-list').modal('hide')
        })
        
        function list_action(){
            $('.list-acn').click(function () {
                $('#form-list').addClass('scroll-own')
                $('#id-hlg').parent().parent().parent().hide()
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });

                ajax_call_get("/hallazgo_editar",{
                    object: obj
                },function(response){
                    let self = JSON.parse(response)

                    ajax_call_get("/accion_listall",{
                        object: obj
                    },function(responser){
                        let datar = JSON.parse(responser)
                        
                        $('#id-hlg').val(self.id)
                        $('#tipo-hlg').val(self.fktipo.nombre)
                        $('#title-hlg').val(self.titulo)
                        
                        var tabledl = $('#table_acn').DataTable();
                        tabledl.destroy();

                        var datacn = [];
                        for(var i = 0; i < datar.length; i++){
                            datacn.push( [
                                datar[i].ordinal, datar[i].descripcion, datar[i].fechaimplementacion, 
                                datar[i].responsableimplementacion, datar[i].estadoaccion, 
                                datar[i].responsableregistro, datar[i].fecharegistro
                            ]);
                        }
                        
                        $('#table_acn').DataTable({
                            data: datacn,
                            "order": [[ 6, 'desc' ]],
                            "pageLength": 10
                        });
                        
                        $('#form-list').modal('show')
                    })
                })
            })
        }
        list_action()
        
        function action_list(eacn){
            $('#form-list').addClass('scroll-own')
            $('#id-hlg').parent().parent().parent().hide()
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(eacn).attr('data-json')))
            });

            ajax_call_get("/hallazgo_editar",{
                object: obj
            },function(response){
                let self = JSON.parse(response)

                ajax_call_get("/accion_listall",{
                    object: obj
                },function(responser){
                    let datar = JSON.parse(responser)
                    
                    $('#id-hlg').val(self.id)
                    $('#tipo-hlg').val(self.fktipo.nombre)
                    $('#title-hlg').val(self.titulo)
                    
                    var tabledl = $('#table_acn').DataTable();
                    tabledl.destroy();

                    var datacn = [];
                    for(var i = 0; i < datar.length; i++){
                        datacn.push( [
                            datar[i].ordinal, datar[i].descripcion, datar[i].fechaimplementacion, 
                            datar[i].responsableimplementacion, datar[i].estadoaccion, 
                            datar[i].responsableregistro, datar[i].fecharegistro
                        ]);
                    }
                    
                    $('#table_acn').DataTable({
                        data: datacn,
                        "order": [[ 6, 'desc' ]],
                        "pageLength": 10
                    });
                    
                    $('#form-list').modal('show')
                })
            })
        }
        
        $('#new-acn').click(function () {
            $('#fkhallazgo').val($('#id-hlg').val())
            $('#fkhallazgo').selectpicker('render')
        })

        function reload_tabacn(){
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($('#id-hlg').val()))
            });

            ajax_call_get("/hallazgo_editar",{
                object: obj
            },function(response){
                let self = JSON.parse(response)

                ajax_call_get("/accion_listall",{
                    object: obj
                },function(responser){
                    let datar = JSON.parse(responser)
                    
                    $('#id-hlg').val(self.id)
                    $('#tipo-hlg').val(self.fktipo.nombre)
                    $('#title-hlg').val(self.titulo)
                    
                    var tabledl = $('#table_acn').DataTable();
                    tabledl.destroy();

                    var datacn = [];
                    for(var i = 0; i < datar.length; i++){
                        datacn.push( [
                            datar[i].ordinal, datar[i].descripcion, datar[i].fechaimplementacion, 
                            datar[i].responsableimplementacion, datar[i].estadoaccion, 
                            datar[i].responsableregistro, datar[i].fecharegistro
                        ]);
                    }
                    
                    $('#table_acn').DataTable({
                        data: datacn,
                        "order": [[ 6, 'desc' ]],
                        "pageLength": 10
                    });
                })
            })
        }
    </script>
{% endblock %}