{% for tr in objects %}
    <tr>
        <td class="details-control">
            <i class="fa fa-plus-square cl-teal" aria-hidden="true" title="Mostrar más" id="{{'h' ~ tr.id}}"></i>
        </td>
        <td class="d-none">{{ tr.id }}</td>
        <td>{{ tr.fkauditoria.codigo }}</td>
        <td>{{ tr.fktipo.nombre }}</td>
        <td>{{ tr.ordinal }}</td>
        <td>{{ tr.titulo }}</td>
        <td class="d-none">{{ tr.descripcion }}</td>
        <td style="white-space: pre-wrap">{{ tr.evidencia }}</td>
        <td style="white-space: pre-wrap">{{ tr.documento }}</td>
        <td style="white-space: pre-wrap">{{ tr.puntoiso }}</td>
        <td>{{ tr.fecharegistro | date ('Y-m-d') }}</td>
        <td class="d-none">{{ tr.fkimpacto.nombre }}</td>
        <td class="d-none">{{ tr.fkprobabilidad.nombre }}</td>
        <td class="d-none">{{ tr.analisiscausaraiz }}</td>
        <td class="d-none">{{ tr.recomendaciones }}</td>
        <td class="d-none">{{ tr.cargoauditado }}</td>
        <td class="d-none">{{ tr.nombreauditado }}</td>
        <td class="d-none">{{ tr.responsable }}</td>

        <td align="center">
            {% if 'accion_insertar' in permisos %}  
                <button id="list-acn" data-json="{{tr.id}}" type="button" class="btn bg-blue waves-effect waves-light list-acn" title="Acción"><i class="material-icons">exit_to_app</i></button>
            {% endif %}
            {% if 'hallazgo_editar' in permisos %}
                <button id="edit-hlg" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit-hlg" title="Editar"><i class="material-icons">create</i></button>
            {% endif %}
            {% if 'hallazgo_eliminar' in permisos %}  
                <button id="delete-hlg" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete-hlg" title="Eliminar"><i class="material-icons">clear</i></button>
            {% endif %}
            <button id="correctrep" data-json="{{tr.id}}" type="button" class="btn bg-green waves-effect waves-light correctrep" title="Formulario Acciones Correctivas"><i class="material-icons">picture_as_pdf</i></button>
        </td>
    </tr>
{% endfor %}