{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ 
            cursor:pointer 
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .img-main-own{
            height: 90px !important;
            width: auto !important;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header">
                        <h2>Intranet corporativa para {{ title_page }}.
                            <small>Sistema desarrollado en Symfony.</small>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <center>
                                <img class="img-responsive img-main-own" src="{{ asset('' ~ main_image ~ '') }}">
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}