<div id="form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Documento en proceso</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">Documento en proceso ID</label>
                        </div>
                    </div>

                    <label>Nuevo/Actualización</label>
                        <select id="nuevoactualizacion" class="form-control">
                            <option value="Nuevo">Nuevo</option>
                            <option value="Actualizacion">Actualización</option>
                        </select>
                        </br>
                        </br>
                    
                    <label>Ficha de proceso</label>
                        <select id="fkproceso" class="form-control">
                        {% for t in proceso %}
                            <option value="{{t.id}}">{{t.codproceso}}</option>
                        {% endfor %}
                        </select>
                        </br>
                        </br> 
                        
                    <label>Tipo de documento</label>
                        <select id="fktipo" class="form-control">
                        {% for t in tipo %}
                            <option value="{{t.id}}">{{t.nombre}}</option>
                        {% endfor %}
                        </select>
                        </br>
                        </br>  

                    <label>Documento</label>
                        <select id="fkdocumento" class="form-control">
                        {% for t in documento %}
                            <option value="{{t.id}}">{{t.codigo}}</option>
                        {% endfor %}
                        </select>
                        </br>
                        </br> 
                   
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="titulo" name="titulo" type="text" class="form-control name">
                            <label class="form-label">Título</label>
                        </div>
                    </div>
                   
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="versionvigente" name="versionvigente" type="text" class="form-control">
                            <label class="form-label">Versión vigente</label>
                        </div>
                    </div>
                    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="vinculoarchivo" name="vinculoarchivo" type="text" class="form-control text">
                            <label class="form-label">Vínculo del archivo</label>
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="carpetaoperativa" name="carpetaoperativa" type="text" class="form-control text">
                            <label class="form-label">Carpeta operativa</label>
                        </div>
                    </div>

                    <label>Aprobado/Rechazado</label>
                        <select id="aprobadorechazado" class="form-control">
                            <option value="Aprobado">Aprobado</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                        </br>
                        </br>

                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="aprobadopor" name="aprobadopor" type="text" class="form-control text">
                            <label class="form-label">Aprobado por</label>
                        </div>
                    </div>
                    
                    <div class="form-group form-float">
                        <div class="form-line">
                            <label class="form-label">Fecha de aprobación</label><br>
                            <input id="fechaaprobacion" name="fechaaprobacion" type="date" class="form-control">
                        </div>
                    </div>
                         
                </div>
                <div class="modal-footer">
                    <button id="insert" type="button" class="btn bg-indigo waves-effect">Guardar<i class="material-icons">save</i></button>
                    <button id="update" type="button" class="btn bg-indigo waves-effect">Modificar<i class="material-icons">save</i></button>
                </div>
            </div>
        </div>
    </div>
</div>