{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .accion { 
            cursor: pointer 
        }
        .swal2-title {
            font-size: 16px !important;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('correlativo/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>CORRELATIVO</h2></div>
                    <div class="body">
                        <div class="row clearfix"></div>
                        {% if 'home_correlativo' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th class="d-none" data-name="phone">ID </th>
                                            <th class="order_by_th" data-name="phone">Número correlativo </th>
                                            <th class="order_by_th" data-name="names">Fecha de registro </th>
                                            <th class="order_by_th" data-name="phone">Solicitante </th>
                                            <th class="order_by_th" data-name="phone">Redactor </th>
                                            <th class="d-none" data-name="phone">Destinatario </th>
                                            <th class="order_by_th" data-name="phone">Referencia </th>
                                            <th class="d-none" data-name="phone">Centro de control correlativo </th>
                                            <th class="d-none" data-name="phone">Tipo de nota </th>
                                            <th class="d-none" data-name="phone">IP </th>
                                            <th class="order_by_th" data-name="phone">URL </th>
                                            <th class="d-none" data-name="phone">Antecedente </th>
                                            <th class="d-none" data-name="phone">Estado correlativo </th>
                                            <th class="d-none" data-name="phone">Item </th>
                                            <th class="order_by_th" data-name="phone">URL editable </th>
                                            <th class="d-none" data-name="phone">Fecha de entrega </th>
                                            <th class="d-none" data-name="phone">Unidad </th>
                                            <th class="order_by_th" data-name="phone">URL origen </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('correlativo/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/fileSaver.js') }}"></script>
    <script src="{{ asset('resources/js/base64.js') }}"></script>

    <script>
        main_route = '/correlativo'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        function format (d) {
            let frg = '<div class="card" style="width: 100%; ';
            
            let estadocr = d[13];
            if(estadocr.localeCompare("Anulado") == 0) frg = frg + 'background-color: rgba(204, 0, 0, .12)">';
            else frg = frg + 'background-color: rgba(0, 76, 153, .15)">';
            frg = frg + '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Destinatario:</td>'+
                    '<td>'+d[6]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Centro de control correlativo:</td>'+
                    '<td>'+d[8]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Tipo de nota:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">IP:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Antecedente:</td>'+
                    '<td>'+d[12]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Estado correlativo:</td>'+
                    '<td>'+d[13]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Item:</td>'+
                    '<td>'+d[14]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha de entrega:</td>'+
                    '<td>'+d[16]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Unidad:</td>'+
                    '<td>'+d[17]+'</td>'+
                '</tr>'+
            '</table></div>';
            return frg;
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'cr'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
        
        $(document).on('click','.urlcrtv', function() {
            var archivo = this.dataset.file
            var tipoArchivo = base64MimeType(archivo)
            var archivoBlob = b64toBlob(archivo,tipoArchivo)
            saveAs(archivoBlob , "archivo")
        })

        $(document).on('click','.urledt', function() {
            var archivo = this.dataset.file
            var tipoArchivo = base64MimeType(archivo)
            var archivoBlob = b64toBlob(archivo,tipoArchivo)
            saveAs(archivoBlob , "archivo")
        })

        $(document).on('click','.urlorg', function() {
            var archivo = this.dataset.file
            var tipoArchivo = base64MimeType(archivo)
            var archivoBlob = b64toBlob(archivo,tipoArchivo)
            saveAs(archivoBlob , "archivo")
        })
    </script>
{% endblock %}