{% for tr in objects %}
    
    <tr {% if tr.estadocorrelativo == 'Anulado' %} class="bg-cancel" {% endif %}>
        <td class="details-control">
            <i class="fa fa-plus-square cl-teal" aria-hidden="true" title="Mostrar más" id="{{'cr' ~ tr.id}}"></i>
        </td>
        <td class="d-none">{{ tr.id }}</td>
        <td>{{ tr.numcorrelativo }}</td>

        {% if tr.fechareg != null %}
            <td>{{ tr.fechareg | date('Y-m-d') }}</td>
        {% else %}
            <td></td>
        {% endif %}

        <td>{{ tr.fullname }}</td>

        <td>{{ tr.redactor }}</td>
        <td class="d-none">{{ tr.destinatario }}</td>
        <td>{{ tr.referencia }}</td>

        {% if tr.fkcorrelativo != null %}
            <td class="d-none">{{ tr.fkcorrelativo.nombre }}</td>
        {% else %}
            <td class="d-none"></td>
        {% endif %}

        {% if tr.fktiponota != null %}
            <td class="d-none">{{ tr.fktiponota.nombre }}</td>
        {% else %}
            <td class="d-none"></td>
        {% endif %}

        <td class="d-none">{{ tr.ip }}</td>

        {% if tr.url == 'base64' %}
            <td align="center"><a href="javascript:void(0)" data-id="{{tr.id}}" data-type="url" class="urlb64"><i class="material-icons">cloud_download</i> Archivo</a></td>
        {% else %}
            {% if tr.url != null and tr.url != 'N/A' %}
                <td align="center"><a href="{{tr.url}}" target="_blank"><i class="material-icons">folder</i> Archivo</a></td>
            {% else %}
                <td align="center">{{ tr.url }}</td>
            {% endif %}
        {% endif %}

        <td class="d-none">{{ tr.antecedente }}</td>
        <td class="d-none">{{ tr.estadocorrelativo }}</td>
        <td class="d-none">{{ tr.item }}</td>

        {% if tr.urleditable == 'base64' %}
            <td align="center"><a href="javascript:void(0)" data-id="{{tr.id}}" data-type="urleditable" class="urlb64"><i class="material-icons">cloud_download</i> Archivo</a></td>
        {% else %}
            {% if tr.urleditable != null and tr.urleditable != 'N/A' %}
                <td align="center"><a href="{{tr.urleditable}}" target="_blank"><i class="material-icons">folder_open</i> Archivo</a></td>
            {% else %}
                <td align="center">{{ tr.urleditable }}</td>
            {% endif %}
        {% endif %}
        
        {% if tr.entrega  != null %}
            <td class="d-none">{{ tr.entrega | date('Y-m-d') }}</td>
        {% else %}
            <td class="d-none"></td>
        {% endif %}

        {% if tr.fkunidad != null %}
            <td class="d-none">{{ tr.fkunidad.nombre }}</td>
        {% else %}
            <td class="d-none"></td>
        {% endif %}
        
        {% set cmp = 'Completo' ~ tr.fkunidad.nombre %}
        {% set crp = 'Crear' ~ tr.fkunidad.nombre %}

        {% if tr.urlorigen == 'base64' %}
            <td align="center"><a href="javascript:void(0)" data-id="{{tr.id}}" data-type="urlorigen" class="urlb64"><i class="material-icons">cloud_download</i> Archivo</a></td>
        {% else %}
            {% if tr.urlorigen != null and tr.urlorigen != 'N/A' %}
                <td align="center"><a href="{{tr.urlorigen}}" target="_blank"><i class="material-icons">folder_special</i> Archivo</a></td>
            {% else %}
                <td align="center">{{ tr.urlorigen }}</td>
            {% endif %}
        {% endif %}
    </tr>
    
{% endfor %}