{% for tr in objects %}
    <tr>
        <td>{{ tr.responsable }}</td>
        <td>{{ tr.observacion }}</td>
        <td>{{ tr.fkmejora.nombre }}</td>
        <td align="center">
        {% if 'seguimientomejora_editar' in permisos %}
            <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% endif %}
        {% if 'seguimientomejora_eliminar' in permisos %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}