{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ cursor:pointer }
	    .modal-dialog{
             width: 100% !important;
        }    
        .open {
             width: 100% !important;
        } 
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('noticiacategoria/form.html.twig') }}

    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>NOTICIA CATEGORÍA</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            {% if 'noticiacategoria_insertar' in permisos %}
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}
                            </div>
                        </div>
                        {% if 'home_noticiacategoria' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="names">Noticia </th>
                                            <th class="order_by_th" data-name="phone">Categoria </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('noticiacategoria/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>    
                        {% else %}
                        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>
    
    <script>
        main_route = '/noticiacategoria'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>
    
    <script>
        attach_validators()

        $('#noticia').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar noticia.',
            title: 'Seleccione una noticia.'
        })

        $('#categoria').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar categoria.',
            title: 'Seleccione una categoria.'
        })

        $('#new').click(function () {
            $('#noticia').val(''),
            $('#categoria').val(''),
            $('#tipo').val('')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'noticia': $('#noticia').val(),
                'categoria': $('#categoria').val()
            })
            
            ajax_call("/noticiacategoria_insertar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            $('#form').modal('hide')
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                })
                ajax_call_get("/noticiacategoria_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)                
                    $('#id').val(self.id)
                    $('#noticia').val(self.fknoticia.id)
                    $('#categoria').val(self.fkcategoria.id)

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'noticia': $('#noticia').val(),
                'categoria': $('#categoria').val()
            })
            ajax_call("/noticiacategoria_actualizar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            
            $('#form').modal('hide')
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            categ = $(this).attr('data-ctg')
            enabled = false

            if (categ.length > 0) dttl = "¿Desea dar de baja la noticia de la categoría '"+categ + "'?";
            else dttl = '¿Desea dar de baja la noticia de la categoría?'

            swal({
                title: dttl,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/noticiacategoria_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })
    </script>
{% endblock %}