{% for tr in objects %}
    <tr>
        <td>{{ tr.nombre }}</td>
         {% if tr.fkcorrelativo != null %}
           <td>{{ tr.fkcorrelativo.nombre }}</td>
         {% else %}
           <td></td>
         {% endif %}
      
        {% if tr.fksuperior != null %}
            <td>{{ tr.fksuperior.nombre }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td align="center">
        {% if 'unidad_editar' in permisos %}
            <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% endif %}
        {% if 'unidad_eliminar' in permisos and tr.fksuperior != null %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}