{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 16px !important;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('fichaprocesos/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>FICHA DE PROCESOS</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            {% if 'fichaprocesos_insertar' in permisos %}
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}
                            </div>
                        </div>
                        {% if 'home_fichaprocesos' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th class="d-none" data-name="phone">ID </th>
                                            <th class="order_by_th" data-name="names">Área, Gerencia y Sector </th>
                                            <th class="order_by_th" data-name="names">Cod. Proceso </th>
                                            <th class="order_by_th" data-name="names">Nombre </th>
                                            <th class="d-none" data-name="phone">Objetivo </th>
                                            <th class="order_by_th" data-name="phone">Vigente </th>
                                            <th class="d-none" data-name="phone">Versión </th>
                                            <th class="d-none" data-name="phone">Fecha de Emisión </th>
                                            <th class="d-none" data-name="phone">Recursos Necesarios </th>
                                            <th class="d-none" data-name="phone">Requisitos Legales </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('fichaprocesos/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>

    <script>
        var main_route = '/fichaprocesos';

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        $('#fkareagerenciasector').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar un tipo de área, gerencia y sector.',
            title: 'Seleccione un tipo de área, gerencia y sector.'
        })

        $('#vigente').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar una opción.',
            title: 'Seleccione una opción.'
        })
        
        $('#new').click(function () {
            $('#codproceso').val('')
            $('#nombre').val('')
            $('#objetivo').val('')
            $('#version').val('')
            $('#recursosnecesarios').val('')
            $('#entradasrequeridas').val('')
            $('#salidasesperadas').val('')

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'codproceso': $('#codproceso').val(),
                'nombre': $('#nombre').val(),
                'objetivo': $('#objetivo').val(),
                'vigente': $('#vigente').val(),
                'version': $('#version').val(),
                'fechaemision': $('#fechaemision').val(),
                'recursosnecesarios': $('#recursosnecesarios').val(),
                'areagerenciasector': $('#fkareagerenciasector').val(),
                'entradasrequeridas': $('#entradasrequeridas').val(),
                'reqlegales': $('#reqlegales').val(),
                'salidasesperadas': $('#salidasesperadas').val()
            });
            ajax_call_validation("/fichaprocesos_insertar", {object: objeto}, null, '/fichaprocesos')
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                ajax_call_get("/fichaprocesos_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)
                    
                    $('#id').val(self.id)
                    $('#codproceso').val(self.codproceso)
                    $('#nombre').val(self.nombre)
                    $('#objetivo').val(self.objetivo)
                    $('#vigente').val(self.vigente)
                    $('#version').val(self.version)
                    $('#fechaemision').val(self.fechaemision)
                    $('#recursosnecesarios').val(self.recursosnecesarios)
                    $('#entradasrequeridas').val(self.entradasrequeridas)
                    $('#salidasesperadas').val(self.salidasesperadas)
                    $('#reqlegales').val(self.reqlegales)
                    $('#fkareagerenciasector').val(self.fkareagerenciasector.id)
                    $('#fkareagerenciasector').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'fkareagerenciasector': $('#fkareagerenciasector').val(),
                'codproceso': $('#codproceso').val(),
                'nombre': $('#nombre').val(),
                'objetivo': $('#objetivo').val(),
                'vigente': $('#vigente').val(),
                'version': $('#version').val(),
                'fechaemision': $('#fechaemision').val(),
                'recursosnecesarios': $('#recursosnecesarios').val(),
                'entradasrequeridas': $('#entradasrequeridas').val(),
                'reqlegales': $('#reqlegales').val(),
                'salidasesperadas': $('#salidasesperadas').val()
            });
            ajax_call_validation("/fichaprocesos_actualizar", {object: objeto}, null, '/fichaprocesos')
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        let message= ''
        function fichaproc_previous(id) { 
            obj = JSON.stringify({
                'id': parseInt(JSON.parse(id))
            });
            ajax_call_get("/fichaproc_prev",{
                object: obj
            },function(response){
                message = response;
            });
        }

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')));
            fichaproc_previous(id);
            
            let quest = message + " ¿Está seguro en dar de baja los datos de la ficha de procesos?" 
            enabled = false
            swal({
                title: quest,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/fichaprocesos_eliminar", { 
                    id, enabled,_xsrf: getCookie("_xsrf")}, 
                    null, 
                    function () {
                        setTimeout(function(){ window.location='/fichaprocesos' }, 1000);
                })
            })
        })
    </script>

    <script>
        function format (d) {
            return '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Objetivo:</td>'+
                    '<td>'+d[5]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Versión:</td>'+
                    '<td>'+d[7]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha de Emisión:</td>'+
                    '<td>'+d[8]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Recursos Necesarios:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
                  '<tr>'+
                    '<td class="bold">Requerimientos Legales:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
            '</table></div>';
        }
 
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'fp'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
    </script>
{% endblock %}