{% for tr in objects %}
    <tr>
        <td class="details-control">
            <i class="fa fa-plus-square cl-teal" aria-hidden="true" title="Mostrar más" id="{{'fp' ~ tr.id}}"></i>
        </td>
        <td class="d-none">{{ tr.id }}</td>
        <td>{{ tr.fkareagerenciasector.fkarea.nombre ~' | '~ tr.fkareagerenciasector.fkgerencia.nombre ~' | '~  tr.fkareagerenciasector.fksector.nombre }}</td>
        <td>{{ tr.codproceso }}</td>
        <td>{{ tr.nombre }}</td>
        <td class="d-none">{{ tr.objetivo }}</td>
        <td>{{ tr.vigente }}</td>
        <td class="d-none">{{ tr.version }}</td>
        <td class="d-none">{{ tr.fechaemision | date('d-m-Y') }}</td>
        <td class="d-none">{{ tr.recursosnecesarios }}</td>
        <td align="center">
        {% if 'fichaprocesos_editar' in permisos %}
            <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% endif %}
        {% if 'fichaprocesos_eliminar' in permisos %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}