{% for tr in objects %}
    <tr>
        <td>{{ tr.nombre}}</td>
        <td>{{ tr.fkpersonal.nombre }} {{ tr.fkpersonal.apellido }}</td>
        <td align="center">
        {% if 'turno_editar' in permisos %}
            <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
        {% endif %}
        {% if 'turno_eliminar' in permisos %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}