{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .accion{ 
            cursor:pointer 
        }
        .swal2-title{
            font-size: 16px !important;
        }
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
        .modal-dialog-acn{
            width: 55%;
        }
        .loader-own{
            margin-top: 5px;
            text-align: center;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .m-tb-own{
            margin-top: 4px;
            margin-bottom: 12px;
        }
        #data_tabletr tbody tr td:nth-child(4){
            white-space: pre-wrap;
        }
        .inf-own{
            font-size: 12px;
            padding-bottom: 4%;
        }
        .loader-own{
            text-align: center;
        }
        html {
            scroll-behavior: smooth;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('accion/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>ACCIÓN</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                                {% if 'accion_insertar' in permisos %}
                                <button id="new-acn" type="button" class="btn bg-indigo waves-effect hidden" title="Nuevo" data-origin="accion" data-form="form-acn" data-spn="spn-acn">
                                    <i class="material-icons">add</i>
                                </button>
                                {% endif %}
                                <button id="hlg-link" type="button" class="btn bg-primary hover-own waves-effect">
                                    <i class="material-icons">zoom_in</i> Hallazgo
                                </button>
                            </div>
                        </div>

                        <div id="spn-grep" class="loader-wrapper" style="display: none">
                            <div class="loader loader-own">
                                <div class="preloader preloader-own">
                                    <div class="spinner-layer pl-blue">
                                        <div class="circle-clipper left"><div class="circle"></div></div>
                                        <div class="circle-clipper right"><div class="circle"></div></div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center inf-own">Generando...</p>
                        </div>

                        <div id="spn-smail" class="loader-wrapper" style="display: none">
                            <div class="loader loader-own">
                                <div class="preloader preloader-own">
                                    <div class="spinner-layer pl-blue">
                                        <div class="circle-clipper left"><div class="circle"></div></div>
                                        <div class="circle-clipper right"><div class="circle"></div></div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center inf-own">Enviando mail...</p>
                        </div>

                        {% if 'home_accion' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="d-none">ID </th>
                                                <th class="order_by_th" data-name="phone">Hallazgo </th>
                                                <th class="order_by_th" data-name="names">Descripción </th>
                                                <th class="order_by_th" data-name="phone">Estado </th>
                                                <th class="order_by_th" data-name="phone">Ordinal </th>
                                                <th class="order_by_th" data-name="phone">Fecha de Registro </th>
                                                <th class="d-none" data-name="phone">Responsable de Registro </th>
                                                <th class="d-none" data-name="phone">Fecha de Implementación </th>
                                                <th class="d-none" data-name="phone">Responsable de Implementación </th>
                                                <th class="d-none" data-name="phone">Tipo </th>
                                                <th class="actions_header">Acciones </th>
                                            </tr>
                                        </thead>
                                        <tbody id="table_content">
                                            {{ include('accion/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>
    <script src="{{ asset('resources/js/accion.js') }}"></script>

    <script>
        main_route = '/accion'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        function format (d) {
            return '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Responsable de Registro:</td>'+
                    '<td>'+d[7]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha de Implementación:</td>'+
                    '<td>'+d[8]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Responsable de Implementación:</td>'+
                    '<td>'+d[9]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Tipo de Acción:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
            '</table></div>';
        }
    
        $(document).ready(function() {
            table = $('#data_tabletr').DataTable();
            table.order([6, 'desc'] ).draw();

            $('#data_tabletr tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'a'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
        });
    </script>
{% endblock %}