{% for tr in objects %}
    <tr>
        <td class="details-control">
            <i class="fa fa-plus-square cl-teal" aria-hidden="true" title="Mostrar más" id="{{'a' ~ tr.id}}"></i>
        </td>
        <td class="d-none">{{ tr.id }}</td>

        {% if tr.fkhallazgo != null %}
            <td>{{ tr.fkhallazgo.titulo }}</td>
        {% else %}
            <td></td>
        {% endif %}

        <td>{{ tr.descripcion }}</td>
        <td>{{ tr.estadoaccion }}</td>
        <td>{{ tr.ordinal }}</td> 
        <td>{{ tr.fecharegistro | date ('Y-m-d') }}</td>
        <td class="d-none">{{ tr.responsableregistro }}</td>
        <td class="d-none">{{ tr.fechaimplementacion | date ('Y-m-d') }}</td>
        <td class="d-none">{{ tr.responsableimplementacion }}</td>

        {% if tr.fktipo != null %}
            <td class="d-none">{{ tr.fktipo.nombre }}</td>
        {% else %}
            <td class="d-none"></td>
        {% endif %}

        <td align="center">
            {% if 'accion_editar' in permisos %}
                <button id="edit" data-json="{{tr.id}}" type="button" class="btn bg-indigo waves-effect waves-light edit" title="Editar"><i class="material-icons">create</i></button>
            {% endif %}
            {% if 'accion_eliminar' in permisos %}  
                <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
            {% endif %}
            <button id="sgacnrep" data-json="{{tr.id}}" type="button" class="btn bg-green waves-effect waves-light sgacnrep" title="Formulario Seguimiento a Acciones Corectivas o Preventivas"><i class="material-icons">picture_as_pdf</i></button>
            <button id="eficrep" data-json="{{tr.id}}" type="button" class="btn bg-teal waves-effect waves-light eficrep" title="Verificación Eficacia"><i class="material-icons">picture_as_pdf</i></button>
            <button id="eficmail" data-json="{{tr.id}}" type="button" class="btn bg-blue waves-effect waves-light eficmail" title="Enviar Email Verificación Eficacia"><i class="material-icons">mail</i></button>
        </td>
    </tr>
{% endfor %}