<div id="form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-aud" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Auditoría</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            <input id="id" name="id" type="text" class="form-control auditoria" disabled="disabled">
                            <label class="form-label">Auditoría ID</label>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="codigo" name="codigo" type="text" class="form-control auditoria">
                                    <label for="codigo" class="form-label">Código</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="fechaprogramada" name="fechaprogramada" type="text" class="form-control date auditoria">
                                    <label for="fechaprogramada" class="form-label">Fecha programada</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label for="fktipo">Tipo de auditoría</label>
                                <select id="fktipo" name="fktipo" class="form-control show-tick auditoria">
                                {% for tr in tipo %}
                                    <option value="{{tr.id}}">{{tr.nombre}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                        <div class="col-sm-6">
                            <label for="fkproceso">Proceso</label>
                                <select id="fkproceso" name="fkproceso" class="form-control show-tick auditoria">
                                {% for tr in proceso %}
                                    <option value="{{tr.id}}">{{tr.codproceso}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="fkgas">Sector</label>
                                <select id="fkgas" name="fkgas" class="form-control show-tick auditoria" data-language=="es" multiple data-actions-box="true">
                                    {% for tr in area %}
                                        <option value="{{tr.id}}">{{tr.nombre}}</option>
                                    {% endfor %}
                                </select>
                                </br>
                                </br>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="documentos">Documentos</label>
                        <textarea class="form-control txti-own auditoria" rows="3" id="documentos" name="documentos" disabled></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="fkdocumento">Documento adicional</label>
                                <select id="fkdocumento" name="fkdocumento" class="form-control show-tick auditoria" data-language=="es" multiple data-actions-box="true">
                                    
                                </select>
                                </br>
                                </br>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="duracionestimada" name="duracionestimada" type="text" class="form-control text auditoria">
                                    <label for="duracionestimada" class="form-label">Duración estimada</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="fecharegistro" name="fecharegistro" type="text" class="form-control date auditoria">
                                    <label for="fecharegistro" class="form-label">Fecha de registro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="alcance">Alcance</label>
                        <textarea class="form-control txta-own auditoria" rows="3" id="alcance" name="alcance"></textarea>
                    </div>
                
                    <div class="form-group">
                        <label for="objetivos">Objetivos</label>
                        <textarea class="form-control txta-own auditoria" rows="3" id="objetivos" name="objetivos"></textarea>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="fechahorainicio" name="fechahorainicio" type="text" class="form-control date auditoria">
                                    <label for="fechahorainicio" class="form-label">Fecha y hora inicio</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="fechahorafin" name="fechahorafin" type="text" class="form-control date auditoria">
                                    <label for="fechahorafin" class="form-label">Fecha y hora fin</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="conclusiones">Conclusiones</label>
                        <textarea class="form-control txta-own auditoria" rows="3" id="conclusiones" name="conclusiones"></textarea>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="lugar" name="lugar" type="text" class="form-control text auditoria">
                                    <label for="lugar" class="form-label">Lugar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label for="fkgerente">Gerente</label>
                                <select id="fkgerente" name="fkgerente" class="form-control show-tick auditoria">
                                {% for tr in usuario %}
                                    <option value="{{tr.id}}">{{tr.nombre ~ ' ' ~ tr.apellido}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                        <div class="col-sm-6">
                            <label for="fkjefe">Jefe / Coordinador / Supervisor de área</label>
                                <select id="fkjefe" name="fkjefe" class="form-control show-tick auditoria">
                                {% for tr in usuario %}
                                    <option value="{{tr.id}}">{{tr.nombre ~ ' ' ~ tr.apellido}}</option>
                                {% endfor %}
                                </select>
                                </br>
                                </br> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="insert" type="button" class="btn bg-indigo waves-effect hover-own">Guardar <i class="material-icons">save</i></button>
                    <button id="update" type="button" class="btn bg-indigo waves-effect hover-own">Modificar <i class="material-icons">refresh</i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form_aud" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Reporte Anual Auditoría</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div id="rep_form_body" class="box-body">
                    <div class="row clearfix text-format">
                        <div class="col-sm-12">
                            <label>Gestión</label>
                                <select id="gestion" name="gestion" class="form-control show-tick">
                                    {% for g in gestion %}
                                        <option value="{{g.gestion}}">{{g.gestion}}</option>
                                    {% endfor %}
                                </select>
                                </br>
                        </div>
                    </div>
                </div>

                <div id="spn-adrp" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-teal">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Generando...</p>
                </div>

                <div id="dwnld-fl" class="modal-body">
                    <div class="box-body">
                        <label class="link-own"><i class="material-icons">cloud_download</i> Descargar:</label>
                        <a href="" id="link_excel"></a>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="aud_yrep" type="button" class="btn bg-teal waves-effect proxrep hover-own" title="Excel">Generar <i class="material-icons">grid_on</i></button>
                    <button id="close-frp" type="button" class="btn bg-blue waves-effect hover-own">Cerrar <i class="material-icons">reply</i></button>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="form-team" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-eqp" role="document">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Equipo de Auditores</h3>
            </div>
            <div class="modal-body">
                <div class="pd-own">
                    <div id="cliente_form_body" class="box-body">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">ID auditoría</label>
                                            <input id="idaud" name="idaud" type="text" class="form-control" readonly autofocus>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Código de auditoría</label>
                                            <input id="codigoaud" name="codigoaud" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-5">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Proceso</label>
                                            <input id="sectoraud" name="sectoraud" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr  width="100%" style="height: 1px; background-color: #004c99" noshade>

                <div class="pd-own">
                    <button id="new-aud" type="button" class="btn bg-blue waves-effect hover-own" title="Agregar auditor">
                        <i class="material-icons">person</i>
                    </button>
                    
                    <h4 id="cliente_enable" class="">Detalle de integrantes</h4>
                    <table id="table_team" class="table table-bordered table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID. auditoría</th>
                                <th>Nombre</th>
                                <th>Tipo de auditor</th>
                                <th id="row-del">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                
                <div id="spn-addaud" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-indigo">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Guardando...</p>
                </div>

                <div class="modal-footer">
                    <button id="save-team" type="button" class="btn bg-indigo waves-effect hover-own">Guardar <i class="material-icons">group</i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form-hlfr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-hlfr" role="document">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Fortalezas y Hallazgos</h3>
            </div>
            <div class="modal-body">
                <div class="pd-own">
                    <div id="cliente_form_body" class="box-body">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">ID auditoría</label>
                                            <input id="id-aud" name="idaud" type="text" class="form-control" readonly autofocus>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-3">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Código de auditoría</label>
                                            <input id="codigo-aud" name="codigoaud" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-5">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <label class="form-label">Sector</label>
                                            <input id="sector-aud" name="sectoraud" type="text" class="form-control" autofocus readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr  width="100%" style="height: 2px; background-color: #004c99" noshade>

                <div class="pd-own">
                    <h4 id="cliente_enable" class="">Hallazgos</h4>
                    <button id="new-hlg" type="button" class="btn bg-blue waves-effect hover-own btn-add-own" title="Nuevo" data-origin="auditoria" data-form="form-hlg" data-spn="spn-hlg">
                        <i class="material-icons">add</i>
                    </button>

                    <table id="table_hlg" class="table table-bordered table-striped table-hover js-basic-example dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo</th>
                                <th>Título</th>
                                <th>Evidencia</th>
                                <th>Documento</th>
                                <th>Punto ISO</th>
                                <th>Fecha de registro</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="pd-own">
                    <h4 id="cliente_enable" class="">Fortalezas</h4>
                    <button id="new-frt" type="button" class="btn bg-blue waves-effect hover-own btn-add-own" title="Nuevo" data-origin="auditoria" data-form="form-frt" data-spn="spn-frt">
                        <i class="material-icons">add</i>
                    </button>

                    <table id="table_fort" class="table table-bordered table-striped table-hover js-basic-example dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ordinal</th>
                                <th>Descripción</th>
                                <th>Responsable</th>
                                <th>Fecha de registro</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button id="close-form" type="button" class="btn bg-teal waves-effect hover-own">Cerrar <i class="material-icons">reply</i></button>
                </div>

            </div>
        </div>
    </div>
</div>