{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('resources/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}">
    <style>
        .swal2-title{
            font-size: 16px !important;
        }
        .modal-aud {
            width: 80% !important;
            margin-left: 12% !important;
        }
        .modal-eqp {
            margin-left: 7% !important;
        }
        .modal-hlfr {
            margin-left: 7% !important;
        }
        .all-w{
            width: 100% !important;
        }
        .scroll-own{
            overflow-y: scroll;
        }
        .error-own{
            display: block !important;
            height: 0px !important;
            padding: 0px !important;
            margin: 0px !important;
        }
        .btn-own{
            margin-right: 2px;/*
            margin-bottom: 2px;*/
        }
        .btn-add-own{
            margin-bottom: 10px;
        }
        .table_fort-td{
            white-space: pre-wrap;
        }
        .table_hlg-td{
            white-space: pre-wrap;
        }
        .loader-own{
            margin-top: 5px;
            text-align: center;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
        .inf-own{
            font-size: 12px;
            padding-bottom: 4%;
        }
        html {
            scroll-behavior: smooth;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('auditoria/form.html.twig') }}
    {{ include('fortaleza/form.html.twig') }}
    {{ include('hallazgo/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>AUDITORÍA</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {% if 'auditoria_insertar' in permisos %} 
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                                <button id="rep" type="button" class="btn bg-teal waves-effect" title="Programa Anual de Auditorías">
                                    <i class="material-icons">explicit</i>
                                </button>
                            {% endif %}  
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button id="adtr-link" type="button" class="btn bg-green waves-effect">
                                    <i class="material-icons">person_add</i> Auditor
                                </button>
                                <button id="fort-link" type="button" class="btn bg-cyan waves-effect">
                                    <i class="material-icons">zoom_out</i> Fortaleza
                                </button>
                                <button id="hlg-link" type="button" class="btn bg-primary hover-own waves-effect">
                                    <i class="material-icons">zoom_in</i> Hallazgo
                                </button>
                            </div>
                        </div>
                        
                        <div id="spn-grep" class="loader-wrapper" style="display: none">
                            <div class="loader loader-own">
                                <div class="preloader preloader-own">
                                    <div class="spinner-layer pl-blue">
                                        <div class="circle-clipper left"><div class="circle"></div></div>
                                        <div class="circle-clipper right"><div class="circle"></div></div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center inf-own">Generando...</p>
                        </div>

                        {% if 'home_auditoria' in permisos and objects %}
                        <div class="row">
                            <div class="body table-responsive">
                                <table id="data_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th class="d-none" data-name="phone">ID </th>
                                        <th class="order_by_th" data-name="names">Código </th>
                                        <th class="order_by_th" data-name="phone">Proceso </th>
                                        <th class="order_by_th" data-name="phone">Tipo </th>
                                        <th class="order_by_th" data-name="phone">Fecha de registro </th>
                                        <th class="order_by_th" data-name="phone">Duración estimada </th>
                                        <th class="order_by_th" data-name="phone">Lugar </th>
                                        <th class="d-none" data-name="phone">Alcance </th>
                                        <th class="d-none" data-name="phone">Objetivos </th>
                                        <th class="d-none" data-name="phone">Fecha/hora de inicio </th>
                                        <th class="d-none" data-name="phone">Fecha/hora de fin </th>
                                        <th class="d-none" data-name="phone">Conclusiones </th>
                                        <th class="d-none" data-name="phone">Gerente </th>
                                        <th class="d-none" data-name="phone">Jefe / Coordinador / Supervisor de área </th>
                                        <th class="d-none" data-name="phone">Fecha programada </th>
                                        <th class="actions_header">Acciones </th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_content">
                                    {{ include('auditoria/table.html.twig') }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/plugins/momentjs/moment.js') }}"></script>
    <script src="{{ asset('resources/plugins/momentjs/locale/es.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>
    <script src="{{ asset('resources/js/hallazgo.js') }}"></script>
    <script src="{{ asset('resources/js/fortaleza.js') }}"></script>
    <script src="{{ asset('resources/plugins/bootstrap-material-datetimepicker/js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('resources/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>

    <script>
        main_route = '/auditoria'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        var i_aud = 0; 
        var del_aud = [];

        function format (d) {
            return '<div class="card" style="width: 100%; background-color: rgba(0, 76, 153, .15)">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td class="bold">Alcance:</td>'+
                    '<td style="white-space: pre-wrap">'+d[8]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Objetivos:</td>'+
                    '<td style="white-space: pre-wrap">'+d[9]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha y hora inicio:</td>'+
                    '<td>'+d[10]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha y hora fin:</td>'+
                    '<td>'+d[11]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Conclusiones:</td>'+
                    '<td style="white-space: pre-wrap">'+d[12]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Gerente:</td>'+
                    '<td>'+d[13]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Jefe / Coordinador / Supervisor de área:</td>'+
                    '<td>'+d[14]+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td class="bold">Fecha programada:</td>'+
                    '<td>'+d[15]+'</td>'+
                '</tr>'+
            '</table></div>';
        }
    
        $(document).ready(function() {
            table = $('#data_table').DataTable();
            $('#data_table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                let idet = 'aud'+row.data()[1];
                if ( row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                    $("#"+idet).attr('class', 'fa fa-plus-square cl-teal');
                    $("#"+idet).attr('title', 'Mostrar más');
                }
                else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                    $("#"+idet).attr('class', 'fa fa-minus-square cl-red');
                    $("#"+idet).attr('title', 'Ver menos');
                }
            });
            $('.error').addClass("error-own")
        });

        $('#adtr-link').click(function(){
            window.location = '/auditor';
        });

        $('#fort-link').click(function(){
            window.location = '/fortaleza';
        });

        $('#hlg-link').click(function(){
            window.location = '/hallazgo';
        });
    </script>

    <script>
        $('#fechaprogramada').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: false,
            weekStart: 1, 
            lang : 'es',
            time: false
        });

        $('#fechahorainicio').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD HH:mm',
            cancelText: 'Descartar',
            clearText: 'Limpiar',
            lang: 'es'
        })

        $('#fechahorafin').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD HH:mm',
            cancelText: 'Descartar',
            clearText: 'Limpiar',
            lang: 'es'
        })

        $('#fecharegistro').bootstrapMaterialDatePicker({
            format: 'YYYY-MM-DD',
            clearButton: false,
            weekStart: 1, 
            lang : 'es',
            time: false
        });

        $('#fkproceso').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar proceso.',
            title: 'Seleccione un proceso.'
        })

        $('#fkgas').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar sector.',
            title: 'Seleccione un sector.'
        })

        $('#fkdocumento').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar documento.',
            title: 'Seleccione un documento.'
        })

        $('#fktipo').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar tipo.',
            title: 'Seleccione un tipo.'
        })

        $('#fkproceso').change(function () {
            $('#documentos').val('');
            $('#fkdocumento').html('');
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).val()))
            });
            ajax_call_get("/auditoria_documentos",{
                object: obj
            },function(response){
                var self = JSON.parse(response);
                var docs = self.documentos;
                var fltdocs = self.filter_docs;
                var cont_docs = '';
                console.log(self)

                for(var i = 0; i < docs.length; i++){
                    if((docs[i].codigo).length >= 8) tab = '\t';
                    else tab = '\t\t';

                    cont_docs += docs[i].codigo + tab + docs[i].titulo + '\n';
                }
                $('#documentos').val(cont_docs);

                var select = document.getElementById('fkdocumento');
                for (var j = 0; j < fltdocs.length; j++) {
                    var option = document.createElement("OPTION");
                    option.innerHTML = fltdocs[j]['codigo'];
                    option.value = fltdocs[j]['id'];

                    select.appendChild(option);
                }
                $('#fkdocumento').selectpicker('refresh');
            })
        })

        $('#fkgerente').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar persona.',
            title: 'Seleccione una persona.'
        })

        $('#fkjefe').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar persona.',
            title: 'Seleccione una persona.'
        })

        $('#rep').click(function () {
            $('#gestion').val('')
            $('#gestion').selectpicker('render')
            $('#dwnld-fl').hide();
            $('#aud_yrep').show();
            $('#close-frp').hide();

            $('#form_aud').modal('show');
        })

        $('#gestion').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar gestión.',
            title: 'Seleccione una gestión.'
        })

        $('#close-frp').click(function () {
            $('#form_aud').modal('hide')
        })

        function clean_data(){
            $('.auditoria').val('')
            $('.auditoria').selectpicker('render')
        } 

        $('#new').click(function () {
            clean_data()

            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#conclusiones').parent().hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        function item_is_empty(items) {
            for (ic = 0; ic < items.length; ic++) {
                if(items[ic] == ''){
                    return true;
                }
            }
            return false;
        }

        function valid_dataform() {
            var object_inputs = $('.auditoria')
            console.log(object_inputs)

            h1 = object_inputs[1].value;
            h2 = object_inputs[2].value;
            h3 = object_inputs[4].value;
            h4 = object_inputs[6].value;
            h5 = object_inputs[8].value;
            h6 = object_inputs[11].value;
            h7 = object_inputs[12].value;
            h8 = object_inputs[13].value;
            h9 = object_inputs[14].value;
            h10 = object_inputs[15].value;
            h11 = object_inputs[16].value;
            h12 = object_inputs[17].value;
            h13 = object_inputs[18].value;
            h14 = object_inputs[19].value;
            h15 = object_inputs[21].value;
            h16 = object_inputs[23].value;

            items = [h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h12, h14, h15, h16];
            resp = !item_is_empty(items);

            return resp;
        }
        
        $('#insert').click(function () {
            objeto = JSON.stringify({
                'codigo': $('#codigo').val(),
                'fechaprogramada': $('#fechaprogramada').val(),
                'duracionestimada': $('#duracionestimada').val(),
                'lugar': $('#lugar').val(),
                'alcance': $('#alcance').val(),
                'objetivos': $('#objetivos').val(),
                'fechahorainicio': $('#fechahorainicio').val(),
                'fechahorafin': $('#fechahorafin').val(),
                'conclusiones': $('#conclusiones').val(),
                'fecharegistro': $('#fecharegistro').val(),
                
                'proceso': $('#fkproceso').val(),
                'tipo': $('#fktipo').val(),
                'sector': $('#fkgas').val(),
                'documento': $('#fkdocumento').val(),
                'gerente': $('#fkgerente').val(),
                'jefe': $('#fkjefe').val()
            })
            console.log(JSON.parse(objeto))

            if(valid_dataform()){
                ajax_call_validation( "/auditoria_insertar" , {object: objeto}, null, main_route)
            }else{
                swal(
                    'Error',
                    'Por favor, debe ingresar todos los campos requeridos.',
                    'error'
                ) 
            }
        })

        function attach_edit() {
            $('.edit').click(function () {
                clean_data()
                $('#conclusiones').parent().show()
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                ajax_call_get("/auditoria_editar",{
                    object: obj
                },function(response){
                    var datos = JSON.parse(response);
                    var self = datos.auditoria;
                    var sector = datos.sector;
                    var docs = datos.documento;

                    console.log(datos);
                    $('#idaud').val(self.id)
                    $('#codigoaud').val(self.codigo)
                    if (self.fkproceso != null) $('#sectoraud').val(self.fkproceso.codproceso)

                    $('#id').val(self.id)
                    $('#codigo').val(self.codigo)

                    $('#duracionestimada').val(self.duracionestimada)
                    $('#lugar').val(self.lugar)
                    $('#alcance').val(self.alcance)
                    $('#objetivos').val(self.objetivos)
                    $('#conclusiones').val(self.conclusiones)

                    if(self.fechaprogramada != null) $('#fechaprogramada').val(self.fechaprogramada)

                    if(self.fechahorainicio != null) $('#fechahorainicio').val(self.fechahorainicio)

                    if(self.fechahorafin != null) $('#fechahorafin').val(self.fechahorafin)

                    if(self.fecharegistro != null) $('#fecharegistro').val(self.fecharegistro)
                    
                    if(self.fktipo != null) {
                        $('#fktipo').val(self.fktipo.id)
                        $('#fktipo').selectpicker('render')
                    }

                    if(self.fkproceso != null) {
                        $('#fkproceso').val(self.fkproceso.id)
                        $('#fkproceso').selectpicker('render')
                        $('#fkproceso').change()
                    }

                    if(self.fkgerente != null) {
                        $('#fkgerente').val(self.fkgerente.id)
                        $('#fkgerente').selectpicker('render')
                    }

                    if(self.fkjefe != null) {
                        $('#fkjefe').val(self.fkjefe.id)
                        $('#fkjefe').selectpicker('render')
                    }

                    dtsector = [];
                    for(var i = 0; i < sector.length; i++){
                        if(sector[i].fkgas != null) dtsector.push(sector[i].fkgas.id);
                    }

                    dtdocs = [];
                    for(var j = 0; j < docs.length; j++){
                        if(docs[j].fkdocumento != null) dtdocs.push(docs[j].fkdocumento.id);
                    }
                    $('#fkgas').selectpicker('val', dtsector)
                    $('#fkgas').selectpicker('render')
                    $('#fkdocumento').selectpicker('val', dtdocs)
                    $('#fkdocumento').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        function proaud_rep() {
            $('.prorep').click(function () {
                obj = JSON.stringify({
                    'anio': $('#gestion').val()
                });
                ajax_call_rep("/auditoria_anual",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);
                })
                $('#form_aud').modal('hide')
            })
        }

        function proaud_xrep() {
            $('.proxrep').click(function () {
                if($('#gestion').val() == ''){
                    swal(
                        'Error de datos',
                        'Por favor debe seleccionar una gestión.',
                        'warning'
                    ) 
                }else{
                    obj = JSON.stringify({
                        'anio': $('#gestion').val()
                    });

                    ajax_call_rep("/aud_anual",{
                        object: obj
                    },function(response){
                        var self = JSON.parse(response);
                        let urlfile = self.url;
                        let servidor = document.URL
                        let urlserv = servidor.substring(0, servidor.lastIndexOf("/"));

                        $('#link_excel').attr('href', (urlserv + urlfile)).html(urlfile)
                        $('#dwnld-fl').show();
                        $('#aud_yrep').hide();
                    })
                    $('#close-frp').show();
                }
            })
        }

        function notaud_rep() {
            $('.notifrep').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });

                ajax_call_reptb("/auditoria_notif",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);

                    let urlfile = self.url;
                    let servidor = document.URL
                    let urlserv = servidor.substring(0, servidor.lastIndexOf("/"));
                    window.open(urlserv + urlfile)
                })
            })
        }

        function genaud_rep() {
            $('.audrep').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                });
                
                ajax_call_reptb("/auditoria_rep",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response);

                    let urlfile = self.url;
                    let servidor = document.URL
                    let urlserv = servidor.substring(0, servidor.lastIndexOf("/"));
                    window.open(urlserv + urlfile)
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'codigo': $('#codigo').val(),
                'fechaprogramada': $('#fechaprogramada').val(),
                'duracionestimada': $('#duracionestimada').val(),
                'lugar': $('#lugar').val(),
                'alcance': $('#alcance').val(),
                'objetivos': $('#objetivos').val(),
                'fechahorainicio': $('#fechahorainicio').val(),
                'fechahorafin': $('#fechahorafin').val(),
                'conclusiones': $('#conclusiones').val(),
                'fecharegistro': $('#fecharegistro').val(),
                
                'proceso': $('#fkproceso').val(),
                'tipo': $('#fktipo').val(),
                'sector': $('#fkgas').val(),
                'documento': $('#fkdocumento').val(),
                'gerente': $('#fkgerente').val(),
                'jefe': $('#fkjefe').val()
            })

            if(valid_dataform()){
                ajax_call_validation("/auditoria_actualizar" , {object: objeto}, null, main_route)
            }else{
                swal(
                    'Error',
                    'Por favor, debe ingresar todos los campos requeridos.',
                    'error'
                ) 
            }
        })
        reload_form()
    </script>

    <script>
        attach_edit()
        proaud_rep()
        proaud_xrep()
        notaud_rep()
        genaud_rep()

        let message= ''
        function aud_previous(id) { 
            obj = JSON.stringify({
                'id': parseInt(JSON.parse(id))
            });
            ajax_call_get("/auditoria_prev",{
                object: obj
            },function(response){
                message = response;
            });
        }

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            aud_previous(id)

            let quest = message + " ¿Está seguro en dar de baja los datos de la auditoría?" 
            enabled = false
            swal({
                title: quest,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/auditoria_eliminar", { 
                    id, enabled,_xsrf: getCookie("_xsrf")}, 
                    null, 
                    function () {
                        setTimeout(function(){ window.location=main_route }, 1000);
                })
            })
        })
    </script>

    <script>
        $('.team').click(function () {
            $('#idaud').parent().parent().parent().hide()
            del_aud = [];
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            });

            ajax_call_get("/auditoria_editar",{
                object: obj
            },function(response){
                let self = JSON.parse(response)

                ajax_call_get("/equipoaud_editar",{
                    object: obj
                },function(responses){
                    let data = JSON.parse(responses)
                    console.log(self)
                    console.log(data)

                    $('#idaud').val(self.auditoria.id)
                    $('#codigoaud').val(self.auditoria.codigo)
                    if (self.auditoria.fkproceso != null) $('#sectoraud').val(self.auditoria.fkproceso.codproceso)
                    
                    var table = $('#table_team').DataTable({
                        language: {
                            "url": "/resources/js/spanish.json"
                        }
                    });
                    table.clear().draw();

                    if(data.length > 0){
                        for(var i = 0; i < data.length; i++){
                            $('#new-aud').click()

                            $('#auditor'+i_aud).val(data[i].fkauditor.id);
                            $('#auditor'+i_aud).selectpicker('render');
                            $('#tipo'+i_aud).val(data[i].fktipo.id);
                            $('#tipo'+i_aud).selectpicker('render');

                            $('#bd'+i_aud).attr('aud-id', data[i].id);
                        }
                    }
                    
                    $('#form-team').modal('show')
                })
            })
        })

        $('#new-aud').click(function () {
            var table = $('#table_team').DataTable();
            i_aud++;
            var combo_auditor = '<div class="input-field">'+
                '<select id="auditor'+i_aud+'" name="auditores" class="auditores show-tick">';
            var combo_tipo = '<div class="input-field">'+
                '<select id="tipo'+i_aud+'" name="tipos" class="tipos show-tick">';

            var accion = '';
            {% for tr in auditor %}
                combo_auditor += "<option value='"+"{{tr.id}}"+"'>"+"{{tr.nombres ~ ' ' ~ tr.paterno ~ ' ' ~ tr.materno}}"+"</option>";
            {% endfor %}
            combo_auditor += '</select>'+
                        '</div>';
            {% for t in tpauditor %}
                combo_tipo += "<option value='"+"{{t.id}}"+"'>"+"{{t.nombre}}"+"</option>";
            {% endfor %}
            combo_tipo += '</select>'+
                        '</div>';
            accion = '<div class="col-sm-1">'+
                    '   <button id="bd'+i_aud+'" type="button" name="change-vl" class="btn bg-red waves-effect hover-own clear_auditor" data-id="'+i_aud+'" aud-id="0" title="Eliminar">'+
                        '   <i class="material-icons">clear</i>'+
                    '   </button>'+
                    '</div>';

            table.row.add([
                $('#idaud').val(),
                combo_auditor,
                combo_tipo,
                accion
            ]).draw(false);
            
            $('#auditor'+i_aud).selectpicker({
                size: 4,
                liveSearch: true,
                liveSearchPlaceholder: 'Buscar auditor.',
                title: 'Seleccione un auditor.'
            })
            
            $('#tipo'+i_aud).selectpicker({
                size: 4,
                liveSearch: true,
                liveSearchPlaceholder: 'Buscar tipo.',
                title: 'Seleccione un tipo.'
            }) 

            $('.auditores').change(function() {
                var valord = $(this).val()
                var vid = $(this).prop('id')
                $('select[name="auditores"]').each(function(){
                    if($(this).val() == valord && $(this).prop('id') != vid && $(this).val() != ''){
                        swal(
                            'Error de datos',
                            'No puede duplicarse un auditor.',
                            'warning'
                        ) 
                        $('#'+vid).val('')
                        $('#'+vid).selectpicker('render')
                    }
                });
            });

            $('.tipos').change(function() {
                var valord = $(this).val()
                var vid = $(this).prop('id')
                var text = $(this).find(":selected").text();
                $('select[name="tipos"]').each(function(){
                    if(text == 'AUDITOR LIDER' &&  $(this).val() == valord && $(this).prop('id') != vid && $(this).val() != ''){
                        swal(
                            'Error de datos',
                            'No puede duplicarse el tipo.',
                            'warning'
                        ) 
                        $('#'+vid).val('')
                        $('#'+vid).selectpicker('render')
                    }
                });
            });

            $('.auditores').parent().addClass('all-w');
            $('.tipos').parent().addClass('all-w');
            $('#bd'+i_aud).parent().parent().parent().attr('id', 'tr'+i_aud)

            $('#table_team').on( 'click', 'tbody tr td div.col-sm-1 button.clear_auditor', function () {
                if($(this).attr("aud-id")){
                    if(!del_aud.includes($(this).attr("aud-id")) && $(this).attr("aud-id") != '0') del_aud.push($(this).attr("aud-id"))
                }

                idrmv = $(this).attr('data-id');
                var dltable = $('#table_team').DataTable();
                dltable.row('#tr'+idrmv).remove().draw(false);
            });
        })

        $('#save-team').click(function () {
            var list_aud = [];
            var list_type = [];
            var list_ideq = [];
            $("select[name=auditores]").each(function (index) { 
                let i = $(this).val(); 

                let el_crt = document.getElementById($(this).attr('id'))
                if(el_crt.value != '') list_aud.push(i);
            });
            $("select[name=tipos]").each(function (index) { 
                let i = $(this).val(); 

                let tp_crt = document.getElementById($(this).attr('id'))
                if(tp_crt.value != '') list_type.push(i);
            });
            $("button[name=change-vl]").each(function (index) { 
                let btn_crt = document.getElementById($(this).attr('id'))
                list_ideq.push(btn_crt.getAttribute('aud-id'));
            });
            if (list_aud.length == 0){
                if (list_type.length == 0){
                    swal(
                        'Error de datos',
                        'Debe seleccionar los auditores y el tipo asociado',
                        'warning'
                    )
                }else{
                    swal(
                        'Error de datos',
                        'Debe seleccionar los auditores',
                        'warning'
                    )
                }
            }else{
                if (list_type.length == 0){
                    swal(
                        'Error de datos',
                        'Debe seleccionar los auditores y el tipo asociado',
                        'warning'
                    )
                }else{
                    objeto = JSON.stringify({
                        'id': $('#idaud').val(),
                        'auditores': list_aud,
                        'tipos': list_type,
                        'idgroup': list_ideq,
                        'delgroup': del_aud,
                        'accion': 'insert'
                    })

                    var table = $('#table_team').DataTable()
                    if(table.rows().count() == list_aud.length){
                        if(table.rows().count() == list_type.length){
                            ajax_call_get_nwr("/equipoaud_insertar", {
                                object: objeto
                            }, function(msg){
                                msg = JSON.parse(msg)
                                datos = msg
                                
                                showMessage(msg.message, "success", "ok");
                                $('#form-team').modal('hide');
                                setTimeout(function(){window.location = main_route; }, 1000); 
                            })
                        }else{
                            swal(
                                'Error de datos',
                                'Seleccione todos los tipos asociados a cada auditor',
                                'warning'
                            )
                        }
                    }else{
                        swal(
                            'Error de datos',
                            'Seleccione todos los auditores',
                            'warning'
                        )
                    }
                }
            }
        })

        $('.hlgfort').click(function () {
            $('#form-hlfr').addClass('scroll-own')
            $('#idaud').parent().parent().parent().hide()
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($(this).attr('data-json')))
            });

            ajax_call_get("/auditoria_editar",{
                object: obj
            },function(response){
                let self = JSON.parse(response)

                ajax_call_get("/fortaleza_listall",{
                    object: obj
                },function(responsef){
                    let dataf = JSON.parse(responsef)

                    ajax_call_get("/hallazgo_listall",{
                        object: obj
                    },function(responseh){
                        let datah = JSON.parse(responseh)
                        console.log(self)
                        console.log(dataf)
                        console.log(datah)
                        
                        $('#id-aud').val(self.auditoria.id)
                        $('#codigo-aud').val(self.auditoria.codigo)
                        if(self.auditoria.fkproceso != null) $('#sector-aud').val(self.auditoria.fkproceso.codproceso)
                        
                        var tablefr = $('#table_fort').DataTable();
                        tablefr.destroy();

                        var datafr = [];
                        for(var i = 0; i < dataf.length; i++){
                            let acn_frt = ''
                            {% if 'fortaleza_editar' in permisos %}
                                acn_frt += '<button id="edit-frt" onclick="edit_fortaleza(this)" data-json="'+dataf[i].id+'" type="button" class="btn bg-indigo waves-effect waves-light hover-own btn-own edit-frt" title="Editar"><i class="material-icons">create</i></button>';
                            {% endif %}
                            {% if 'fortaleza_eliminar' in permisos %}  
                                acn_frt += '<button id="delete-frt" onclick="delete_fortaleza(this)" data-json="'+dataf[i].id+'" type="button" class="btn bg-red waves-effect waves-light hover-own delete-frt" title="Eliminar"><i class="material-icons">clear</i></button>';
                            {% endif %}

                            datafr.push( [
                                dataf[i].id, dataf[i].ordinal,
                                dataf[i].descripcion, dataf[i].responsable,
                                dataf[i].fecharegistro, acn_frt
                            ]);
                        }
                        $('#table_fort').DataTable({
                            data: datafr,
                            "order": [[ 4, 'desc' ]],
                            "pageLength": 10,
                            //"scrollY": "300px",
                            "createdRow": function(row, data, dataIndex) {
                                $(row).children(':nth-child(3)').addClass('table_fort-td');
                                $(row).children(':nth-child(6)').attr('align', 'center');
                            }
                        });
                        
                        var tablehl = $('#table_hlg').DataTable();
                        tablehl.destroy();

                        var datahl = [];
                        for(var j = 0; j < datah.length; j++){
                            let acn_hlg = ''
                            {% if 'hallazgo_editar' in permisos %}
                                acn_hlg += '<button id="edit-hlg" onclick="edit_hallazgo(this)" data-orogon="auditoria" data-json="'+datah[j].id+'" type="button" class="btn bg-indigo waves-effect waves-light hover-own btn-own edit-hlg" title="Editar"><i class="material-icons">create</i></button>';
                            {% endif %}
                            {% if 'hallazgo_eliminar' in permisos %}  
                                acn_hlg += '<button id="delete-hlg" onclick="delete_hallazgo(this)" data-orogon="auditoria" data-json="'+datah[j].id+'" type="button" class="btn bg-red waves-effect waves-light hover-own delete-hlg" title="Eliminar"><i class="material-icons">clear</i></button>';
                            {% endif %}

                            datahl.push( [
                                datah[j].id, datah[j].fktipo.nombre,
                                datah[j].titulo, datah[j].evidencia,
                                datah[j].documento, datah[j].puntoiso,
                                datah[j].fecharegistro, acn_hlg
                            ]);
                        }
                        $('#table_hlg').DataTable({
                            data: datahl,
                            "order": [[ 6, 'desc' ]],
                            "pageLength": 10,
                            //"scrollY": "300px",
                            "createdRow": function(row, data, dataIndex) {
                                $(row).children(':nth-child(4)').addClass('table_hlg-td');
                                $(row).children(':nth-child(5)').addClass('table_hlg-td');
                                $(row).children(':nth-child(6)').addClass('table_hlg-td');
                                $(row).children(':nth-child(8)').attr('align', 'center');
                            }
                        });
                        
                        fortaleza_edit()
                        fortaleza_delete()
                        hallazgo_edit()
                        hallazgo_delete()

                        $('#id-aud').parent().hide()
                        $('#form-hlfr').modal('show')
                    })
                })
            })
        })
        
        $('#close-form').click(function () {
            $('#form-hlfr').modal('hide')
        })

        function reload_tabhlfr(){
            obj = JSON.stringify({
                'id': parseInt(JSON.parse($('#id-aud').val()))
            });
            ajax_call_get("/fortaleza_listall",{
                object: obj
            },function(responsef){
                let dataf = JSON.parse(responsef)

                ajax_call_get("/hallazgo_listall",{
                    object: obj
                },function(responseh){
                    let datah = JSON.parse(responseh)
                    
                    var tablefr = $('#table_fort').DataTable();
                    tablefr.destroy();

                    var datafr = [];
                    for(var i = 0; i < dataf.length; i++){
                        let acn_frt = ''
                        {% if 'fortaleza_editar' in permisos %}
                            acn_frt += '<button id="edit-frt" onclick="edit_fortaleza(this)" data-json="'+dataf[i].id+'" type="button" class="btn bg-indigo waves-effect waves-light hover-own btn-own edit-frt" title="Editar"><i class="material-icons">create</i></button>';
                        {% endif %}
                        {% if 'fortaleza_eliminar' in permisos %}  
                            acn_frt += '<button id="delete-frt" onclick="delete_fortaleza(this)" data-json="'+dataf[i].id+'" type="button" class="btn bg-red waves-effect waves-light hover-own delete-frt" title="Eliminar"><i class="material-icons">clear</i></button>';
                        {% endif %}

                        datafr.push( [
                            dataf[i].id, dataf[i].ordinal,
                            dataf[i].descripcion, dataf[i].responsable,
                            dataf[i].fecharegistro, acn_frt
                        ]);
                    }
                    $('#table_fort').DataTable({
                        data: datafr,
                        "order": [[ 4, 'desc' ]],
                        language: {
                            "url": "/resources/js/spanish.json"
                        },
                        "pageLength": 10,
                        //"scrollY": "300px",
                        "createdRow": function(row, data, dataIndex) {
                            $(row).children(':nth-child(3)').addClass('table_fort-td');
                            $(row).children(':nth-child(6)').attr('align', 'center');
                        }
                    });
                    
                    var tablehl = $('#table_hlg').DataTable();
                    tablehl.destroy();

                    var datahl = [];
                    for(var j = 0; j < datah.length; j++){
                        let acn_hlg = ''
                        {% if 'hallazgo_editar' in permisos %}
                            acn_hlg += '<button id="edit-hlg" onclick="edit_hallazgo(this)" data-origin="auditoria" data-json="'+datah[j].id+'" type="button" class="btn bg-indigo waves-effect waves-light hover-own btn-own edit-hlg" title="Editar"><i class="material-icons">create</i></button>';
                        {% endif %}
                        {% if 'hallazgo_eliminar' in permisos %}  
                            acn_hlg += '<button id="delete-hlg" onclick="delete_hallazgo(this)" data-origin="auditoria" data-json="'+datah[j].id+'" type="button" class="btn bg-red waves-effect waves-light hover-own delete-hlg" title="Eliminar"><i class="material-icons">clear</i></button>';
                        {% endif %}

                        datahl.push( [
                            datah[j].id, datah[j].fktipo.nombre,
                            datah[j].titulo, datah[j].evidencia,
                            datah[j].documento, datah[j].puntoiso,
                            datah[j].fecharegistro, acn_hlg
                        ]);
                    }
                    $('#table_hlg').DataTable({
                        data: datahl,
                        "order": [[ 6, 'desc' ]],
                        language: {
                            "url": "/resources/js/spanish.json"
                        },
                        "pageLength": 10,
                        //"scrollY": "300px",
                        "createdRow": function(row, data, dataIndex) {
                            $(row).children(':nth-child(4)').addClass('table_hlg-td');
                            $(row).children(':nth-child(5)').addClass('table_hlg-td');
                            $(row).children(':nth-child(6)').addClass('table_hlg-td');
                            $(row).children(':nth-child(8)').attr('align', 'center');
                        }
                    });
                    
                    fortaleza_edit()
                    fortaleza_delete()
                    hallazgo_edit()
                    hallazgo_delete()
                })
            })   
        }
    </script>

    <script>
        $('#new-hlg').click(function () {
            $('#fkauditoriahlg').val($('#id-aud').val())
            $('#fkauditoriahlg').selectpicker('render')
            $('#id_div_hlg').hide()
            $('#insert-hlg').show()
            $('#update-hlg').hide()
            $('#form-hlg').modal('show')
        })
        $('#new-frt').click(function () {
            $('#fkauditoriafrt').val($('#id-aud').val())
            $('#fkauditoriafrt').selectpicker('render')
            $('#id_div_frt').hide()
            $('#insert-frt').show()
            $('#update-frt').hide()
            $('#form-frt').modal('show')
        })
    </script>
{% endblock %}