<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title_page }}{% endblock %}</title>
        <link rel="icon" href="{{ logo_page }}" type="image/x-icon">
        <link href="resources/css/iconfont/material-icons.css" rel="stylesheet">
        <link href="resources/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="resources/plugins/node-waves/waves.css" rel="stylesheet" />
        <link href="resources/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
        <link href="resources/plugins/animate-css/animate.css" rel="stylesheet" />
        <link href="resources/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
        <link href="resources/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
        <link href="resources/css/style.css" rel="stylesheet">
        <link href="resources/css/themes/all-themes.css" rel="stylesheet" />
        <link href="resources/plugins/nestable/jquery-nestable.css" rel="stylesheet">
        <link href="resources/css/main.css" rel="stylesheet" />
        <link href="resources/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
        {% block stylesheets %}
        <style>
            .nav-img {
                height: 100%;
                padding: 2px;
                width: auto;
            }   
            .slimScrollBar-own{
                width: 8px !important;
            }
        </style>
        {% endblock %}
    </head>
    <body class="theme-indigo" onload="">
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-indigo">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
                <p>Por favor espere.</p>
            </div>
        </div>

        <div class="overlay"></div>

        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="bars"></a>
                    <a href="/" class="navbar-brand">
                        <center>
                            <img class="nav-img" src="{{ menu_top_image }}">
                            {{ title_page }}
                        </center>
                    </a>
                </div>

                <div id="right-options" class="more-options">
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            {% if docderiv %}
                                <a href="/documentoproceso"><i class="material-icons" style="font-size: 18px" title="Documentos derivados">folder</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #26a69a;">{{ docderiv|length }}</span></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                            {% endif %}
                            {% if fcaprobgr %}
                                <a href="/fichacargo"><i class="material-icons" style="font-size: 18px" title="Fichas por aprobar - Gerente">assignment</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #00bcd4;">{{ fcaprobgr|length }}</span></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                            {% endif %}
                            {% if fcaprobjf %}
                                <a href="/fichacargo"><i class="material-icons" style="font-size: 18px" title="Fichas por aprobar - Jefe">assignment_turned_in</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #00bcd4;">{{ fcaprobjf|length }}</span></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                            {% endif %}
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            <a href=""><i class="material-icons"> </i></a>
                            {% if 'perfil' in permisos %}
                                <a href="/perfil"><i class="material-icons" title="Perfil de usuario">account_circle</i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                            {% endif %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" onclick="salir()" title="Cerrar sesión">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </li>
                    </ul>  
                </div>
            </div>
        </nav>
        
        <section>
            <aside id="leftsidebar" class="sidebar">
                <div class="menu">
                    <ul class="list">
                    {% for mods in parents %} 
                        {% if mods.fkmodulo == null %}    
                        <li>
                            {% if mods.ruta == null %}
                            <a href="#" class="menu-toggle waves-effect waves-block">
                            {% else %}
                            <a href="{{mods.ruta}}" class="menu-toggle waves-effect waves-block">
                            {% endif %}
                                <i class="material-icons">{{mods.icono}}</i>
                                <span>{{mods.titulo}}</span>
                            </a>
                            <ul class="ml-menu">
                            {% for child in children %}
                                {% if child.fkmodulo != null and mods.id == child.fkmodulo.id and child.nombre not in ['perfil', 'docprocesorev', 'categorianoticia'] %}
                                    <li>
                                        <a href="{{child.ruta}}" class="">
                                            <i class="material-icons">{{child.icono}}</i>
                                            <span>{{child.titulo}}</span>
                                        </a>
                                    </li>
                                {% endif %} 
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </aside>
        </section>
        
        <section id="content" class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="card" id="render_content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <script src="resources/plugins/jquery/jquery.min.js"></script>
        <script src="resources/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="resources/plugins/bootstrap/js/bootstrap.js"></script>
        <script src="resources/plugins/node-waves/waves.js"></script>
        <script src="resources/js/admin.js"></script>
        <script src="resources/plugins/bootstrap-notify/bootstrap-notify.js"></script>
        <script src="resources/plugins/fileinput/js/fileinput.min.js"></script>
        <script src="resources/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script src="resources/plugins/bootstrap-select/js/bootstrap-select.js"></script>
        <script src="resources/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="resources/plugins/nestable/jquery.nestable.js"></script>
        <script src="resources/js/jquery.toast.js"></script>
        <!-- Jquery DataTable Plugin Js -->
        <script src="resources/plugins/jquery-datatable/jquery.dataTables.js"></script>
        <script src="resources/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
        <script src="resources/js/pages/tables/jquery-datatable.js"></script>
        <script src="resources/js/scripts.js"></script>
        <script src="resources/js/validations.js"></script>
        <script>
            $(document).ready(function() {
                $('.slimScrollBar').addClass('slimScrollBar-own')
            })

            function iniciar(){
                setTimeout(function(){window.location="/login"}, 500)
            }
            function salir(){
                swal({
                    title: "¿Desea cerrar su sesión?",
                    imageUrl: '{{ close_image }}',
                    showCancelButton: true,
                    confirmButtonColor: "#3F51B5",
                    cancelButtonColor: "#F44336",
                    confirmButtonText: "Aceptar",
                    reverseButtons: true,
                    cancelButtonText: "Cancelar"
                }).then(function () {
                    swal(
                        'Gracias por tu trabajo.',
                        'Vuelve pronto.',
                        'success'
                        )
                    setTimeout(function(){window.location="/logout"}, 500)
                })
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
