<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title_page }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="theme-indigo" onload="">
        {% block body %}
            <div class="page-loader-wrapper">
                <div class="loader">
                    <div class="preloader">
                        <div class="spinner-layer pl-indigo">
                            <div class="circle-clipper left"><div class="circle"></div></div>
                            <div class="circle-clipper right"><div class="circle"></div></div>
                        </div>
                    </div>
                    <p>Por favor espere.</p>
                </div>
            </div>

            <div class="overlay"></div>

            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="javascript:void(0);" class="bars"></a>
                        <a href="/" class="navbar-brand">
                            <center>
                                <img class="nav-img" src="{{ asset('' ~ menu_top_image ~ '') }}">
                                {{ title_page }}
                            </center>
                        </a>
                    </div>

                    <div id="right-options" class="more-options">
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                {% if docderiv %}
                                    <a href="/documentoproceso"><i class="material-icons" style="font-size: 18px" title="Documentos derivados">folder</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #26a69a;">{{ docderiv|length }}</span></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                {% endif %}
                                {% if fcaprobgr %}
                                    <a href="/fichacargo"><i class="material-icons" style="font-size: 18px" title="Fichas por aprobar - Gerente">assignment</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #00bcd4;">{{ fcaprobgr|length }}</span></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                {% endif %}
                                {% if fcaprobjf %}
                                    <a href="/fichacargo"><i class="material-icons" style="font-size: 18px" title="Fichas por aprobar - Jefe">assignment_turned_in</i> <span class="new badge" style="padding: 2px 4px; font-size: 10px; background-color: #00bcd4;">{{ fcaprobjf|length }}</span></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                {% endif %}
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                <a href=""><i class="material-icons"> </i></a>
                                {% if 'perfil' in permisos %}
                                    <a href="/perfil"><i class="material-icons" title="Perfil de usuario">account_circle</i></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                    <a href=""><i class="material-icons"> </i></a>
                                {% endif %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" onclick="salir()" title="Cerrar sesión">
                                    <i class="material-icons">power_settings_new</i>
                                </a>
                            </li>
                        </ul>  
                    </div>
                </div>
            </nav>
            
            <section>
                <aside id="leftsidebar" class="sidebar">
                    <div class="menu">
                        <ul class="list">
                        {% for mods in parents %} 
                            {% if mods.fkmodulo == null %}    
                            <li>
                                {% if mods.ruta == null %}
                                <a href="#" class="menu-toggle waves-effect waves-block">
                                {% else %}
                                <a href="{{mods.ruta}}" class="menu-toggle waves-effect waves-block">
                                {% endif %}
                                    <i class="material-icons">{{mods.icono}}</i>
                                    <span>{{mods.titulo}}</span>
                                </a>
                                <ul class="ml-menu">
                                {% for child in children %}
                                    {% if child.fkmodulo != null and mods.id == child.fkmodulo.id and child.nombre not in ['perfil', 'docprocesorev', 'categorianoticia'] %}
                                        <li>
                                            <a href="{{child.ruta}}" class="">
                                                <i class="material-icons">{{child.icono}}</i>
                                                <span>{{child.titulo}}</span>
                                            </a>
                                        </li>
                                    {% endif %} 
                                {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </aside>
            </section>
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>