{% for tr in objects %}
    <tr>
        <td>{{ tr.codigo }}</td>
        {% if tr.fkproceso != null %}
            <td>{{ tr.fkproceso.codproceso }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>{{ tr.fktipo.nombre }}</td>
        <td>{{ tr.titulo }}</td>
        <td>{{ tr.versionvigente }}</td>
        <td>{{ tr.fechapublicacion | date('Y-m-d') }}</td>
        <td>{{ tr.fkaprobador.nombre ~ ' ' ~ tr.fkaprobador.apellido }}</td>
        <td>{{ tr.carpetaoperativa }}</td>
        {% if tr.vinculoarchivo != 'N/A' %}
            <td><a href="{{ tr.vinculoarchivo }}">{{ tr.vinculoarchivo[30:] }}</a></td>
        {% else %}
            <td>{{ tr.vinculoarchivo }}</td>
        {% endif %}
        <td align="center">
        {% if 'bajadocumento_editar' in permisos %}
            
        {% endif %}
        {% if 'bajadocumento_eliminar' in permisos %}  
            <button id="delete" data-json="{{tr.id}}" type="button" class="btn bg-red waves-effect waves-light delete" title="Eliminar"><i class="material-icons">clear</i></button>
        {% endif %}
        </td>
    </tr>
{% endfor %}