{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ 
            cursor:pointer 
        }
        .txta-own{
            background-color: rgba(40, 40, 40, .05);
            min-width: 100% !important;
            max-width: 100% !important;
            padding: 4px !important;
        }
        .loader-own{
            margin-top: 5px;
            text-align: center;
        }
        .preloader-own{
            width: 40px;
            height: 40px;
        }
        .hover-own:hover{
            color: white;
        }
        .hover-own:focus{
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('fortaleza/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>FORTALEZA</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            {% if 'fortaleza_insertar' in permisos %} 
                                <button id="new-frt" type="button" class="btn bg-indigo waves-effect hidden" title="Nuevo" data-origin="fortaleza" data-form="form-frt" data-spn="spn-frt">
                                    <i class="material-icons">add</i>
                                </button> 
                                <button id="aud-link" type="button" class="btn bg-teal waves-effect">
                                    <i class="material-icons">spellcheck</i> Auditoría
                                </button>
                            {% endif %}  
                            </div>
                        </div>
                        {% if 'home_fortaleza' in permisos and objects %}
                        <div class="row">
                            <div class="body table-responsive">
                                <table id="data_table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                    <tr>
                                        <th class="order_by_th" data-name="names">Auditoría </th>
                                        <th class="order_by_th" data-name="phone">Ordinal </th>
                                        <th class="order_by_th" data-name="phone">Descripción </th>
                                        <th class="order_by_th" data-name="phone">Responsable </th>
                                        <th class="order_by_th" data-name="phone">Fecha de registro </th>
                                        <th class="actions_header">Acciones </th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_content">
                                    {{ include('fortaleza/table.html.twig') }}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/functions.js') }}"></script>
    <script src="{{ asset('resources/js/fortaleza.js') }}"></script>

    <script>
        main_route = '/fortaleza'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = "5"
            ascendant = false
        }
        default_values()
    </script>

    <script>
        $(document).ready(function() {
            var table = $('#data_table').DataTable();
            table.order([ 4, 'desc'] ).draw();
        });

        $('#aud-link').click(function(){
            window.location = '/auditoria';
        });
    </script>
{% endblock %}