<meta http-equiv='Content-Type' content='text/html'; charset='utf-8' />
<style>
    .border-own { border-left: 0px; border-right: 0px; padding: 6px; border-bottom: 1px solid rgba(96, 96, 96, 0.5) }
    .border-own-l { border-right: 0px; }
    .border-own-r { border-left: 0px; }
    .italic, .text-normal { padding-bottom: 4px; }
</style>

{% set gerencias = [] %}
{% set areas = [] %}
<div class='container' style='font-size: 12px'>
    <div>
        <table align='center' style='padding: 4px; border: 0px solid grey' width='100%'>
            <tr>
                <th colspan="1" rowspan="2"><img src="resources/images/image_rep.png" width="auto" height="70" alt="logo"></th>
                <th colspan="11" align="right" style="font-size: 11px">GCDO-803-01</th>
            </tr>
            <tr>
                <td colspan="11" style="font-size: 14px; font-weight: 400;">FORMULARIO DE ACCIONES CORRECTIVAS</td>
            </tr>
        </table>
    </div>

    <div>
        <div class="header" style="font-weight: 400; margin-top: 10px; padding: 2px;">A. IDENTIFICACIÓN</div>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>PROCESO</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>SECTOR</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>ÁREA</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>NÚMERO DE AUDITORÍA</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='3' class='text-normal' align='center'>
                    {% if auditoria.fkproceso != null %}
                        {{ auditoria.fkproceso.nombre }}
                    {% endif %}
                </td>
                <td colspan='3' class='text-normal' align='center'>
                    {% for s in sector %}
                        {% if s.fkgas.fksector != null %}
                            <p> {{ s.fkgas.fksector.nombre }} </p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td colspan='3' class='text-normal' align='center'>
                    {% for s in sector %}
                        {% if s.fkgas.fkarea != null %}
                            {% if s.fkgas.fkarea.id not in areas %} 
                                <p> {{ s.fkgas.fkarea.nombre }} </p>
                                {% set areas = areas|merge([s.fkgas.fkarea.id]) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td colspan='3' class='text-normal' align='center'>{{ auditoria.codigo }}</td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>GERENCIA</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>GERENTE</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>JEFE / COORDINADOR / SUPERVISOR DE ÁREA</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>ORDINAL</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='3' class='text-normal' align='center'>
                    {% for s in sector %}
                        {% if s.fkgas.fkgerencia != null %}
                            {% if s.fkgas.fkgerencia.id not in gerencias %} 
                                <p> {{ s.fkgas.fkgerencia.nombre }} </p>
                                {% set gerencias = gerencias|merge([s.fkgas.fkgerencia.id]) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td colspan='3' class='text-normal' align='center'>
                    {% if auditoria.fkgerente != null %}
                        {{ auditoria.fkgerente.nombre ~ ' ' ~ auditoria.fkgerente.apellido }}
                    {% endif %}
                </td>
                <td colspan='3' class='text-normal' align='center'>
                    {% if auditoria.fkjefe != null %}
                        {{ auditoria.fkjefe.nombre ~ ' ' ~ auditoria.fkjefe.apellido }}
                    {% endif %}
                </td>
                <td colspan='3' class='text-normal' align='center'></td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 20px; padding: 2px;">B. DESCRIPCIÓN</div>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px; border-bottom: 1px solid white;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='8' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>DESCRIPCIÓN NO CONFORMIDAD</th>
                <th colspan='4' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>PUNTO DE LA NORMA INCUMPLIDO</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='8' class='text-normal' align='left'>{{ hallazgo.descripcion }}</td>
                <td colspan='4' class='text-normal' align='center'>{{ hallazgo.puntoiso }}</td>
            </tr>
        </table>
        <table align='center' style='padding: 4px; border: 1px solid grey; border-top: 1px solid white;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='5' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>NO CONFORMIDAD MAYOR</th>
                <td colspan='1' class='text-normal' align='center'>
                    {% if hallazgo.fktipo != null and hallazgo.fktipo.nombre == 'No conformidad mayor' %}
                        X
                    {% endif %}
                </td>
                <th colspan='5' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>NO CONFORMIDAD MENOR</th>
                <td colspan='1' class='text-normal' align='center'>
                    {% if hallazgo.fktipo != null and hallazgo.fktipo.nombre == 'No conformidad menor' %}
                        X
                    {% endif %}
                </td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 20px; padding: 2px;">C. CORRECIONES, ANÁLISIS DE CAUSAS Y ACCIONES CORRECTIVAS</div>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='12' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>1. ACCIÓN INMEDIATA (CORECCIÓN)</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='4' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>Nr</th>
                <th colspan='2' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>DESCRIPCIÓN</th>
                <th colspan='4' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>RESPONSABLE</th>
                <th colspan='2' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>PLAZO PLANIFICADO</th>
            </tr>

            {% for ai in acn_inmediata %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='4' class='text-normal' align='center'>{{ ai.id }}</td>
                    <td colspan='2' class='text-normal' align='center'>{{ ai.descripcion }}</td>
                    <td colspan='4' class='text-normal' align='center'>{{ ai.responsableimplementacion }}</td>
                    <td colspan='2' class='text-normal' align='center'>{{ ai.fechaimplementacion }}</td>
                </tr>
            {% endfor %}
        </table>
        
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='12' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>
                    2. ANÁLISIS DE CAUSA RAÍZ (Solo llenado por el jefe de área o grupo de análisis). Realizar un análisis por cada evidemcia y adjuntar reporte
                    de 5 Porqués o Espina de pescado. Se debe incorporar el análisis por cada hallazgo encontrado identificándolo para cada causa raíz.
                </th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <td colspan='12' class='text-normal' align='left' style='padding-left: 20px;'>{{ hallazgo.analisiscausaraiz }}</td>
            </tr>
        </table>
        
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='12' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>
                    3. ACCIÓN CORRECTIVA
                </th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='7' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>DESCRIPCIÓN</th>
                <th colspan='3' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>RESPONSABLE</th>
                <th colspan='2' class='italic' scope='colgroup' align='center' style='margin-top: 4px; background-color: #cfd8dc;'>PLAZO PLANIFICADO</th>
            </tr>
            {% for ac in acn_correctiva %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='2' class='text-normal' align='center'>{{ ac.id }}</td>
                    <td colspan='5' class='text-normal' align='left'>{{ ac.descripcion }}</td>
                    <td colspan='3' class='text-normal' align='center'>{{ ac.responsableimplementacion }}</td>
                    <td colspan='2' class='text-normal' align='center'>{{ ac.fechaimplementacion }}</td>
                </tr>
            {% endfor %}
        </table>
        
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='8' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>
                    ¿Se requiere gestión de cambio?
                </th>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'></td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'>SI</td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'></td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'>NO</td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='8' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>
                    ¿Se identifica riesgos y/u oportunidades?
                </th>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'></td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'>SI</td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'></td>
                <td colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'>NO</td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='3' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #cfd8dc;'>
                    Descripción del Cambio o Riesgos y Oportunidades
                </th>
                <td colspan='9' class='italic' scope='colgroup' align='left' style='padding-left: 15px; margin-top: 4px; background-color: #eeeeee;'>No aplica</td>
            </tr>
        </table>
        <div class="header" style="font-weight: 400; margin-top: 10px; padding: 2px;">
            * En caso de marcar "SI", llenar formulario gestión de cambio GCDO-0630-01 o el formulario Matriz de
            Riesgos y Oportunidades GG-0892-01, según sea el caso.
        </div>
        
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 60px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='6' class='italic' scope='colgroup' align='center'>Sergio Góngora</th>
                <th colspan='6' class='italic' scope='colgroup' align='center'>Ramiro Iriarte</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='6' class='italic' scope='colgroup' align='center'>JEFE VALLE BAJO Y CENTRAL</th>
                <th colspan='6' class='italic' scope='colgroup' align='center'>GERENTE COMERCIAL INTERINO</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='6' class='italic' scope='colgroup' align='left'>Fecha:</th>
                <th colspan='6' class='italic' scope='colgroup' align='left'>Fecha:</th>
            </tr>
        </table>
    </div>
</div>