<meta http-equiv='Content-Type' content='text/html'; charset='utf-8' />
<style>
    .border-own { border-left: 0px; border-right: 0px; padding: 6px; border-bottom: 1px solid rgba(96, 96, 96, 0.5) }
    .border-own-l { border-right: 0px; }
    .border-own-r { border-left: 0px; }
    .italic, .text-normal { padding-bottom: 4px; }
</style>
<div class='container' style='font-size: 12px'>
    <div>
        <table align='center' style='padding: 4px; border: 0px solid grey' width='100%'>
            <tr>
                <th colspan="1" rowspan="2"><img src="resources/images/image_rep.png" width="auto" height="70" alt="logo"></th>
                <th colspan="11" align="right" style="font-size: 11px">UNP-0802-04</th>
            </tr>
            <tr>
                <td colspan="11" style="font-size: 14px; font-weight: 400;">INFORME DE AUDITORÍA INTERNA SIGC</td>
            </tr>
        </table>
    </div>

    <div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px; margin-top: 4px'>Auditoría </th>
                <td colspan='3' class='text-normal' align='left' style='margin-top: 4px'> </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px'>Unidad:</th>
                <td colspan='3' class='text-normal' align='left'></td>
            </tr>
            {% for s in sector %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='1' class='text-normal' align='left'>  </td>
                    <td colspan='3' class='text-normal' align='left'> {{ s.fkgas.fksector.nombre  }} </td>
                </tr>
            {% endfor %}
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px; margin-top: 4px'>Macro Proceso: </th>
                <td colspan='3' class='text-normal' align='left' style='margin-top: 4px'> </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px; margin-top: 4px'>Proceso: </th>
                <td colspan='3' class='text-normal' align='left' style='margin-top: 4px'> </td>
                {% if auditoria.fkproceso != null %}
                    <td colspan='3' class='text-normal' align='left'> {{ auditoria.fkproceso.nombre }} </td>
                {% else %}
                    <td colspan='3' class='text-normal' align='left'></td>
                {% endif %}
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">1. Equipo Auditor que realizó el trabajo</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            {% for eq in team %}
                <tr style='font-size: 12px; border: 0px; padding: 0px; padding-bottom: 18px;'>
                    <td colspan='3' class='text-normal' align='left'> {{ eq.fkauditor.nombres ~ ' ' ~ eq.fkauditor.paterno ~ ' ' ~ eq.fkauditor.materno }} <br> </td>
                    <td colspan='5' class='text-normal' align='left' style='margin-top: 25px'><br></td>
                    <th colspan='4' class='italic' scope='colgroup' align='center' style='padding-left: 24px'>FIRMA<br></th>
                </tr>
                <tr style='font-size: 12px; border: 0px; padding: 0px; padding-bottom: 18px;'>
                    <th colspan='3' class='text-normal' align='center'> <br>{{ eq.fktipo.nombre}} </h>
                    <td colspan='5' class='text-normal' align='left' style='margin-top: 25px'><br></td>
                    <th colspan='4' class='italic' scope='colgroup' align='center' style='padding-left: 24px'><br>__________________________________</th>
                </tr>
                <tr style='font-size: 12px; border: 0px; padding: 0px; padding-bottom: 18px;'>
                    <th colspan='12' class='italic' align='center'><br></th>
                </tr>
            {% endfor %}
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">2. Objetivos del trabajo realizado</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='1' class='text-normal' align='left'></td>
                <td colspan='11' class='text-normal' align='left'>{{ auditoria.objetivos }}</td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">3. Alcance del trabajo realizado</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px'>Alcance: </th>
                <td colspan='11' class='text-normal' align='left'>{{ auditoria.alcance }}</td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">4. Documentación base utilizada para el trabajo (Criterios de Auditoría)</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            {% for d in docs %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='1' class='text-normal' align='left'></td>
                    <td colspan='4' class='text-normal' align='left'> {{ d.codigo }} </td>
                    <td colspan='7' class='text-normal' align='left'> {{ d.titulo  }} </td>
                </tr>
            {% endfor %}
            {% for ad in docsadd %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='1' class='text-normal' align='left'></td>
                    <td colspan='4' class='text-normal' align='left'> {{ ad.fkdocumento.codigo }} </td>
                    <td colspan='7' class='text-normal' align='left'> {{ ad.fkdocumento.titulo  }} </td>
                </tr>
            {% endfor %}
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">5. Descripción general de la auditoría realizada</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='1' class='text-normal' align='left'></td>
                <td colspan='11' class='text-normal' align='left'></td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">6. Fortalezas identificadas en el proceso auditado</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            {% for f in fort %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='11' class='text-normal' align='left'> {{ f.descripcion }} </td>
                </tr>
            {% endfor %}
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">7. Situaciones identificadas / hallazgos / Resultados</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            {% for h in hlg %}
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='8' class='text-normal' align='left'> {{ h.titulo }} </td>
                    <td colspan='3' class='text-normal' align='left'> {{ h.fktipo.nombre }} </td>
                    <td colspan='1' class='text-normal' align='left'> {{ h.puntoiso }} </td>
                </tr>
                <tr style='font-size: 12px; border: 0px; padding: 0px'>
                    <td colspan='12' class='text-normal' align='left'>
                        {{ h.descripcion }}
                        <hr style="1px solid #455a64">
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="header" style="font-weight: 400; margin-top: 10px; background-color: #cfd8dc; padding: 2px;">8. CONCLUSIONES</div>
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px'>Alcance: </th>
                <td colspan='11' class='text-normal' align='left'>{{ auditoria.conclusiones }}</td>
            </tr>
        </table>
        
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='1' class='italic' scope='colgroup' align='left' style='padding-left: 24px'>Fecha de Revisión de Informe: </th>
                <td colspan='11' class='text-normal' align='left'></td>
            </tr>
        </table>

        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 60px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='3' class='italic' scope='colgroup' align='center'>Jefe / Supervisor Unidad Auditada</th>
                <td colspan='1' class='italic' scope='colgroup' align='center'></td>
                <th colspan='3' class='italic' scope='colgroup' align='center'>Gerente / Coordinador Unidad Auditada</th>
                <td colspan='1' class='italic' scope='colgroup' align='center'></td>
                <th colspan='4' class='italic' scope='colgroup' align='center'>Coordinador Gestión de Calidad y Desarrollo Organizacional</th>
            </tr>
        </table>
    </div>
    
</div>