{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('resources/bootstrap4/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('resources/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        .borderless td, .borderless th, .borderless tr {
            border: none;
        }
        #tb-ef tr, #tb-ef td, .frm-efc{
            height: 14px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('resources/images/image_rep.png') }}" width="47" height="50" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h6 class="font-weight-bold float-right">GCDO-0802-07</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6 class="font-weight-bold text-center"><u>Verificación eficacia de la Acción Correctiva</u></h6>
                <h6 class="font-weight-bold text-center">Sistema Integrado de Gestión de ELFEC S.A.</h6>
            </div>
        </div>
    </div>

    {% if objects %}
    <div class="container">
        <div class="mt-3">
            </br>          
            <table class="table table-bordered table-sm">
                <tr>
                    <th>No. Auditoría:</th>
                    <td>{{objects[0].cb_auditoria_id}}</td>
                </tr>
                <tr>
                    <th>No. de Hallazgo:</th>
                    <td>{{objects[0].cb_hallazgo_id}}</td>
                </tr>
                <tr>
                    <th>Identificador de la Acción:</th>
                    <td>{{objects[0].cb_accion_id}}</td>
                </tr>
            </table>

            <h7><b>Resultado de la verificación de la eficacia de la Acción tomada:</b></h7>
            <table id="tb-ef" class="table table-bordered table-sm">
                <tr>
                    <td>
                        <label class="">EFICAZ:</label>
                    </td>
                    <td>
                        {% if objects[0].cb_accion_eficacia_eficaz == 'Si' %} <i class="fa fa-check"></i> {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="">NO EFICAZ:</label>
                    </td>
                    <td>
                        {% if objects[0].cb_accion_eficacia_eficaz == 'No' %} <i class="fa fa-check"></i> {% endif %}
                    </td>
                </tr>
            </table>

            <h7><b>Observaciones:</b></h7>
            <table class="table table-bordered table-sm">
                <tr>
                    <td></td>
                    <td><textarea id="textarea" rows="2" style="height: 20px; border:none" value=""></textarea></td>
                </tr>
            </table>     

            <table class="table borderless table-sm">
                <tr>
                    <th>Fecha verificación: </th>
                    <td>{{ objects[0].cb_accion_eficacia_fecha|date('d-m-Y') }} </td>
                </tr>
                <tr>
                    <th>Verificado por: </th>
                    <td>{{ objects[0].cb_accion_eficacia_nombreverificador }} </td>
                </tr>
            </table>    
            
                      
            <table class="table table-bordered table-sm">
                <tr>
                    <th>Responsable del proceso verificado:</th>
                    <td>{{ objects[0].cb_accion_eficacia_responsable }} </td>
                </tr>
                <tr>
                    <th>Cargo del Responsable:</th>
                    <td>{{ objects[0].cb_accion_eficacia_cargoverificador }}</td>
                </tr>
            </table>

            <table class="table borderless table-sm">
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr class="spacer"> <td></td></tr>
                <tr>
                    <th style="text-decoration: overline">Firma Responsable del proceso verificado</th>
                    <th style="text-decoration: overline">Firma Verificador</th>
                    <td></td>
                    <th style="text-decoration: overline">
                        Firma Coord. GCDO / Resp. Med. Amb. / Resp. SySO
                    </th>
                </tr>
            </table>
        </div>

    </div>
    {% else %}
        <div class="container">
            <div class="mt-3">
                <p>No se encontraron registros.</p>
            </div>
        </div>
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    <script>
        function check_data(val){
            if(val == 'Si') $('#opyes').attr('checked', true);
            else $('#opno').attr('checked', true);
        }
    </script>
    <script src="{{ asset('resources/bootstrap4/js/bootstrap.min.js') }}"></script>
{% endblock %}