<meta http-equiv='Content-Type' content='text/html'; charset='utf-8' />
<style>
    .border-own { border-left: 0px; border-right: 0px; padding: 6px; border-bottom: 1px solid rgba(96, 96, 96, 0.5) }
    .border-own-l { border-right: 0px; }
    .border-own-r { border-left: 0px; }
    .italic, .text-normal { padding-bottom: 4px; }
</style>
<link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css">

{% set gerencias = [] %}
{% set areas = [] %}
<div class='container' style='font-size: 12px'>
    <div>
        <table align='center' style='padding: 4px; border: 0px solid grey' width='100%'>
            <tr>
                <th colspan="3" rowspan="3"><img src="resources/images/image_rep.png" width="auto" height="70" alt="logo"></th>
                <th colspan="11" align="right" style="font-size: 11px">GCDO-802-07</th>
            </tr>
            <tr>
                <td colspan="11" align="left" style="font-size: 14px; font-weight: 400;">Verificación Eficacia de la Acción Correctiva</td>
            </tr>
            <tr>
                <td colspan="11" align="left" style="font-size: 14px; font-weight: 400;">Sistema Integrado de Gestión de ELFEC S.A.</td>
            </tr>
        </table>
    </div>

    <div>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>No. Auditoría:</th>
                <td colspan='10' class='text-normal' align='left'>{{ auditoria.codigo }}</td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>No. de Hallazgo:</th>
                <td colspan='10' class='text-normal' align='left'>{{ hallazgo.id }}</td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>Identificador de la Acción:</th>
                <td colspan='10' class='text-normal' align='left'>{{ accion.id }}</td>
            </tr>
        </table>

        <div class="header" style="font-weight: 400; margin-top: 20px; padding: 2px;">Resultado de la Verificación de la eficacia de la Acción tomada:</div>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px; border-bottom: 1px solid white;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>EFICAZ</th>
                <td colspan='10' class='text-normal' align='left'>
                    {% if eficacia and eficacia.eficaz == 'Si' %} 
                        <i class="fa fa-check"></i> 
                    {% endif %}
                </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>NO EFICAZ:</th>
                <td colspan='10' class='text-normal' align='left'>
                    {% if eficacia and eficacia.eficaz == 'No' %} 
                        <i class="fa fa-check"></i> 
                    {% endif %}
                </td>
            </tr>
        </table>

        <table align='center' style='padding: 4px; border: 1px solid grey; border-top: 1px solid white;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='12' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>Observaciones</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <td colspan='12' class='text-normal' align='left'>
                    {% if eficacia %} 
                        {{ eficacia.resultado }}
                    {% endif %}
                </td>
            </tr>
        </table>

        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>Fecha Verificación:</th>
                <td colspan='10' class='text-normal' align='left'>
                    {% if eficacia %} 
                        {{ eficacia.fecha }}
                    {% endif %}
                </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>Verificado por:</th>
                <td colspan='10' class='text-normal' align='left'>
                    {% if eficacia %} 
                        {{ eficacia.responsable }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <table align='center' style='padding: 4px; border: 1px solid grey; margin-top: 10px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='margin-top: 4px; background-color: #cfd8dc;'>Responsable del proceso verificado::</th>
                <td colspan='10' class='text-normal' align='left'>
                {% if eficacia %} 
                    {{ eficacia.nombreverificador }}
                {% endif %}
            </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' align='left' scope='colgroup' style='margin-top: 4px; background-color: #cfd8dc;'>Cargo del Responsable:</th>
                <td colspan='10' class='text-normal' align='left'>
                {% if eficacia %} 
                    {{ eficacia.cargoverificador }}
                {% endif %}
                </td>
            </tr>
            </tr>
        </table>
        
        <table align='center' style='padding: 4px; border: 0px solid grey; margin-top: 60px;' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='4' class='italic' scope='colgroup' align='center'>___________________________________</th>
                <th colspan='4' class='italic' scope='colgroup' align='center'>___________________________________</th>
                <th colspan='4' class='italic' scope='colgroup' align='center'>___________________________________</th>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px;'>
                <th colspan='4' class='italic' scope='colgroup' align='center'>Firma Responsable del proceso verificado</th>
                <th colspan='4' class='italic' scope='colgroup' align='center'>Firma Verificador</th>
                <th colspan='4' class='italic' scope='colgroup' align='center'>Firma Coord. GCDO / Resp. Med. Amb. / Resp. SySO</th>
            </tr>
        </table>
    </div>
</div>