{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .accion{ cursor:pointer }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ include('detalledocumento/form.html.twig') }}
    
    <section id="content" class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="card" id="render_content">

                    <div class="header bg-indigo"><h2>DETALLE DEL DOCUMENTO</h2></div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            {% if 'detalledocumento_insertar' in permisos %}    
                                <button id="new" type="button" class="btn bg-indigo waves-effect" title="Nuevo">
                                    <i class="material-icons">add</i>
                                </button>
                            {% endif %}
                            </div>
                        </div>
                        {% if 'home_detalledocumento' in permisos and objects %}
                            <div class="row">
                                <div class="body table-responsive">
                                    <table id="data_tabletr" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="names">Auditoría </th>
                                            <th class="order_by_th" data-name="phone">Documento </th>
                                            <th class="actions_header">Acciones </th>
                                        </tr>
                                        </thead>
                                        <tbody id="table_content">
                                        {{ include('detalledocumento/table.html.twig') }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/transporte.js') }}"></script>
    <script src="{{ asset('resources/js/functions.js') }}"></script>

    <script>
        main_route = '/detalledocumento'

        function default_values() {
            page_nr = 1
            max_entries = 10
            like_search = ""
            order_by = ""
            ascendant = true
        }
        default_values()
    </script>

    <script>
        attach_validators()

        $('#auditoria').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar auditoría.',
            title: 'Seleccione una auditoría.'
        }) 

        $('#documento').selectpicker({
            size: 4,
            liveSearch: true,
            liveSearchPlaceholder: 'Buscar documento.',
            title: 'Seleccione un documento.'
        })
        
        $('#new').click(function () {
            clean_form()
            verif_inputs()
            $('#id_div').hide()
            $('#insert').show()
            $('#update').hide()
            $('#form').modal('show')
        })

        $('#insert').click(function () {
            objeto = JSON.stringify({
                'auditoria': $('#auditoria').val(),
                'documento': $('#documento').val()
            })
            ajax_call("/detalledocumento_insertar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            $('#form').modal('hide')
        })

        function attach_edit() {
            $('.edit').click(function () {
                obj = JSON.stringify({
                    'id': parseInt(JSON.parse($(this).attr('data-json')))
                })
                ajax_call_get("/detalledocumento_editar",{
                    object: obj
                },function(response){
                    var self = JSON.parse(response)                
                    $('#id').val(self.id)
                    $('#auditoria').val(self.fkauditoria.id)
                    $('#auditoria').selectpicker('render')

                    $('#documento').val(self.fkdocumento.id)
                    $('#documento').selectpicker('render')

                    clean_form()
                    verif_inputs()
                    $('#id_div').show()
                    $('#insert').hide()
                    $('#update').show()
                    $('#form').modal('show')
                })
            })
        }

        $('#update').click(function () {
            objeto = JSON.stringify({
                'id': parseInt(JSON.parse($('#id').val())),
                'auditoria': $('#auditoria').val(),
                'documento': $('#documento').val()
            })
            ajax_call("/detalledocumento_actualizar", {object: objeto}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            
            $('#form').modal('hide')
        })
        reload_form()
    </script>

    <script>
        attach_edit()

        $('.delete').click(function () {
            id = parseInt(JSON.parse($(this).attr('data-json')))
            enabled = false

            swal({
                title: "¿Desea dar de baja el detalle del documento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#004c99",
                cancelButtonColor: "#F44336",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(function () {
                ajax_call("/detalledocumento_eliminar", { id,enabled,_xsrf: getCookie("_xsrf")}, null, function () {setTimeout(function(){window.location=main_route}, 1000);})
            })
        })
    </script>
{% endblock %}