<div class="card">
  <div class="card-header">
    AUDITORíA > {{ auditoria.id ~ ' - ' ~ auditoria.tipo }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Hallazgo >> {{ hallazgo.titulo ~ ' - ' ~ hallazgo.tipo }}</h5>
    <p class="card-text">Rsponsable: {{ accion.responsable }}</p>
    <p class="card-text">Tipo: {{ accion.tipo }}</p>
    <p class="card-text">Acción: {{ accion.descripcion }}</p>
  </div>
</div>