<link href="/resources/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

<div class="card">
    <div class="card-header">
        <b>AUDITORÍA: {{ auditoria.codigo ~ ' - ' ~ auditoria.tipo }}</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">Hallazgo: {{ hallazgo.titulo ~ ' - ' ~ hallazgo.tipo }}</h5>

        <table align='left' style='padding: 4px; border: 0px solid grey' width='100%'>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='padding-left: 0; padding-top: 4px; font-weight: bold'>Responsable: </th>
                <td colspan='10' class='text-normal' align='left' style='padding-top: 4px'> {{ accion.responsable }} </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='padding-left: 0px; font-weight: bold'>Fecha de imp.: </th>
                <td colspan='10' class='text-normal' align='left'> {{ accion.fecha }} </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='padding-left: 0; font-weight: bold'>Tipo: </th>
                <td colspan='10' class='text-normal' align='left'> {{ accion.tipo }} </td>
            </tr>
            <tr style='font-size: 12px; border: 0px; padding: 0px'>
                <th colspan='2' class='italic' scope='colgroup' align='left' style='padding-left: 0; font-weight: bold'>Acción: </th>
                <td colspan='10' class='text-normal' align='left'> {{ accion.descripcion }} </td>
            </tr>
        </table>
    </div>
</div>