<div class="card">
    <div class="card-tabs">
        <div class="card-content grey lighten-4">
            <span id="subject" class="card-title grey-text text-darken-4">Documento en Revisión</span>
        </div>
    </div>
    
    <div class="card-content">
        <a class="waves-effect waves-light btn-small" href="{{ adicional.website }}">
            <i class="material-icons left">
                <img src="" alt="top-lg">
            </i>
        </a>
        <p id="message" class="card-subtitle grey-text text-darken-2">
            <table class="bordered striped centered">
                <thead>
                    <tr>
                        <th>NUEVO O ACTUALIZACIÓN</th>
                        <th>CÓDIGO DEL DOCUMENTO</th>
                        <th>TIPO DE DOCUMENTO</th>
                        <th>TÍTULO</th>
                        <th>VERSIÓN</th>
                        <th>VINCULO DEL ARCHIVO DIGITAL</th>
                        <th>FECHA RECIBIDO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">{{ docproceso.nuevoactualizacion }}</td>
                        {% if docproceso.codigonuevo != '' %}
                            <td>{{ docproceso.codigonuevo }}</td>
                        {% else %}
                            {% if docproceso.fkdocumento != null %}
                                <td align="center">{{ docproceso.fkdocumento.codigo }}</td>
                            {% else %}
                                <td align="center">{{ docproceso.fkformulario.codigo }}</td>
                            {% endif %}
                        {% endif %}
                        <td align="center">{{ docproceso.fktipo.nombre }}</td>
                        <td align="center">{{ docproceso.titulo }}</td>
                        <td align="center">{{ docproceso.versionvigente }}</td>
                        <td align="center"><a href="{{ 'http://' ~ adicional.dominio ~ docproceso.vinculoarchivo }}">{{ docproceso.vinculoarchivo|slice(30) }}</a></td>
                        <td align="center">{{ adicional.fecha }}</td>
                    </tr>
                </tbody>
            </table>
        </p>
        <a href="{{ adicional.website }}" class="waves-effect waves-light"><img src="" alt="bottom-lg"><i class="material-icons left"> ELFEC</i></a>
    </div>
</div>